.clearfix {
	
}
.clearfix::before {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.hide-text {
	font: 0px/0 a; border: 0px currentColor; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.input-block-level {
	width: 100%; display: block; min-height: 26px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
@media all and (min-width:1200px)
{
.row {
	margin-left: -30px;
}
.row::before {
	line-height: 0; display: table; content: "";
}
.row::after {
	line-height: 0; display: table; content: "";
}
.row::after {
	clear: both;
}
[class*='span'] {
	margin-left: 30px; float: left; min-height: 1px;
}
.container {
	width: 1170px;
}
.navbar-static-top .container {
	width: 1170px;
}
.navbar-fixed-top .container {
	width: 1170px;
}
.navbar-fixed-bottom .container {
	width: 1170px;
}
.span12 {
	width: 1170px;
}
.span11 {
	width: 1070px;
}
.span10 {
	width: 970px;
}
.span9 {
	width: 870px;
}
.span8 {
	width: 770px;
}
.span7 {
	width: 670px;
}
.span6 {
	width: 570px;
}
.span5 {
	width: 470px;
}
.span4 {
	width: 370px;
}
.span3 {
	width: 270px;
}
.span2 {
	width: 170px;
}
.span1 {
	width: 70px;
}
.offset12 {
	margin-left: 1230px;
}
.offset11 {
	margin-left: 1130px;
}
.offset10 {
	margin-left: 1030px;
}
.offset9 {
	margin-left: 930px;
}
.offset8 {
	margin-left: 830px;
}
.offset7 {
	margin-left: 730px;
}
.offset6 {
	margin-left: 630px;
}
.offset5 {
	margin-left: 530px;
}
.offset4 {
	margin-left: 430px;
}
.offset3 {
	margin-left: 330px;
}
.offset2 {
	margin-left: 230px;
}
.offset1 {
	margin-left: 130px;
}
.row-fluid {
	width: 100%;
}
.row-fluid::before {
	line-height: 0; display: table; content: "";
}
.row-fluid::after {
	line-height: 0; display: table; content: "";
}
.row-fluid::after {
	clear: both;
}
.row-fluid [class*='span'] {
	width: 100%; margin-left: 2.56%; float: left; display: block; min-height: 26px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.row-fluid [class*='span']:first-child {
	margin-left: 0px;
}
.row-fluid .controls-row [class*='span'] + [class*='span'] {
	margin-left: 2.56%;
}
.row-fluid .span12 {
	width: 100%;
}
.row-fluid .span11 {
	width: 91.45%;
}
.row-fluid .span10 {
	width: 82.9%;
}
.row-fluid .span9 {
	width: 74.35%;
}
.row-fluid .span8 {
	width: 65.81%;
}
.row-fluid .span7 {
	width: 57.26%;
}
.row-fluid .span6 {
	width: 48.71%;
}
.row-fluid .span5 {
	width: 40.17%;
}
.row-fluid .span4 {
	width: 31.62%;
}
.row-fluid .span3 {
	width: 23.07%;
}
.row-fluid .span2 {
	width: 14.52%;
}
.row-fluid .span1 {
	width: 5.98%;
}
.row-fluid .offset12 {
	margin-left: 105.12%;
}
.row-fluid :first-child.offset12 {
	margin-left: 102.56%;
}
.row-fluid .offset11 {
	margin-left: 96.58%;
}
.row-fluid :first-child.offset11 {
	margin-left: 94.01%;
}
.row-fluid .offset10 {
	margin-left: 88.03%;
}
.row-fluid :first-child.offset10 {
	margin-left: 85.47%;
}
.row-fluid .offset9 {
	margin-left: 79.48%;
}
.row-fluid :first-child.offset9 {
	margin-left: 76.92%;
}
.row-fluid .offset8 {
	margin-left: 70.94%;
}
.row-fluid :first-child.offset8 {
	margin-left: 68.37%;
}
.row-fluid .offset7 {
	margin-left: 62.39%;
}
.row-fluid :first-child.offset7 {
	margin-left: 59.82%;
}
.row-fluid .offset6 {
	margin-left: 53.84%;
}
.row-fluid :first-child.offset6 {
	margin-left: 51.28%;
}
.row-fluid .offset5 {
	margin-left: 45.29%;
}
.row-fluid :first-child.offset5 {
	margin-left: 42.73%;
}
.row-fluid .offset4 {
	margin-left: 36.75%;
}
.row-fluid :first-child.offset4 {
	margin-left: 34.18%;
}
.row-fluid .offset3 {
	margin-left: 28.2%;
}
.row-fluid :first-child.offset3 {
	margin-left: 25.64%;
}
.row-fluid .offset2 {
	margin-left: 19.65%;
}
.row-fluid :first-child.offset2 {
	margin-left: 17.09%;
}
.row-fluid .offset1 {
	margin-left: 11.11%;
}
.row-fluid :first-child.offset1 {
	margin-left: 8.54%;
}
input {
	margin-left: 0px;
}
textarea {
	margin-left: 0px;
}
.uneditable-input {
	margin-left: 0px;
}
.controls-row [class*='span'] + [class*='span'] {
	margin-left: 30px;
}
input.span12 {
	width: 1156px;
}
textarea.span12 {
	width: 1156px;
}
.span12.uneditable-input {
	width: 1156px;
}
input.span11 {
	width: 1056px;
}
textarea.span11 {
	width: 1056px;
}
.span11.uneditable-input {
	width: 1056px;
}
input.span10 {
	width: 956px;
}
textarea.span10 {
	width: 956px;
}
.span10.uneditable-input {
	width: 956px;
}
input.span9 {
	width: 856px;
}
textarea.span9 {
	width: 856px;
}
.span9.uneditable-input {
	width: 856px;
}
input.span8 {
	width: 756px;
}
textarea.span8 {
	width: 756px;
}
.span8.uneditable-input {
	width: 756px;
}
input.span7 {
	width: 656px;
}
textarea.span7 {
	width: 656px;
}
.span7.uneditable-input {
	width: 656px;
}
input.span6 {
	width: 556px;
}
textarea.span6 {
	width: 556px;
}
.span6.uneditable-input {
	width: 556px;
}
input.span5 {
	width: 456px;
}
textarea.span5 {
	width: 456px;
}
.span5.uneditable-input {
	width: 456px;
}
input.span4 {
	width: 356px;
}
textarea.span4 {
	width: 356px;
}
.span4.uneditable-input {
	width: 356px;
}
input.span3 {
	width: 256px;
}
textarea.span3 {
	width: 256px;
}
.span3.uneditable-input {
	width: 256px;
}
input.span2 {
	width: 156px;
}
textarea.span2 {
	width: 156px;
}
.span2.uneditable-input {
	width: 156px;
}
input.span1 {
	width: 56px;
}
textarea.span1 {
	width: 56px;
}
.span1.uneditable-input {
	width: 56px;
}
.thumbnails {
	margin-left: -30px;
}
.thumbnails > li {
	margin-left: 30px;
}
.row-fluid .thumbnails {
	margin-left: 0px;
}
}
.tablet-landscape#iframelive {
	height: 94%; overflow: auto;
}
.tablet-portrait#iframelive {
	height: 94%; overflow: auto;
}
.iphone-landscape#iframelive {
	height: 94%; overflow: auto;
}
.iphone-portrait#iframelive {
	height: 94%; overflow: auto;
}
#iframelive {
	background: url("images/resp-bg.png") 43% 0px rgb(22, 22, 22); height: 100%;
}
.desktop#iframelive iframe {
	margin: 0px; width: 100%;
}
.desktop#iframelive #frameWrapper {
	margin: 0px; height: 100%;
}
.desktop#iframelive {
	
}
.tablet-landscape#iframelive iframe {
	margin: 51px 0px 0px 80px; width: 1039px; height: 690px !important;
}
.tablet-landscape#iframelive #frameWrapper {
	background: url("images/pad-land.png"); margin: 20px auto; width: 1242px; height: 798px; overflow: auto;
}
.tablet-landscape#iframelive #frameWrapper iframe {
	-ms-overflow-x: hidden;
}
.tablet-portrait#iframelive iframe {
	margin: 65px 0px 0px 58px; width: 785px; height: 1038px !important;
}
.tablet-portrait#iframelive #frameWrapper {
	background: url("images/pad-port.png"); margin: 20px auto; width: 901px; height: 1213px;
}
.iphone-landscape#iframelive iframe {
	margin: 28px 0px 0px 133px; width: 495px; height: 335px !important;
}
.iphone-landscape#iframelive #frameWrapper {
	background: url("images/phone-land.png"); margin: 150px auto 20px; width: 759px; height: 395px;
}
.iphone-portrait#iframelive iframe {
	margin: 133px 0px 0px 30px; width: 337px; height: 495px !important;
}
.iphone-portrait#iframelive #frameWrapper {
	background: url("images/phone-port.png"); margin: 20px auto; width: 395px; height: 762px;
}
