.clearfix {
	
}
.clearfix::before {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	line-height: 0; display: table; content: "";
}
.clearfix::after {
	clear: both;
}
.hide-text {
	font: 0px/0 a; border: 0px currentColor; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.input-block-level {
	width: 100%; display: block; min-height: 26px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
ul {
	list-style-type: none;
}
* {
	
}
a:focus {
	
}
body {
	color: rgb(102, 102, 102); min-width: 320px;
}
body {
	height: 100%;
}
html {
	height: 100%;
}
h1 {
	color: inherit; line-height: 1em; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h2 {
	color: inherit; line-height: 1em; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h3 {
	color: inherit; line-height: 1em; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h4 {
	color: inherit; line-height: 1em; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h5 {
	color: inherit; line-height: 1em; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h6 {
	color: inherit; line-height: 1em; font-family: inherit; font-weight: bold; text-rendering: optimizelegibility;
}
h1 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h2 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h3 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h4 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h5 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
h6 small {
	color: rgb(153, 153, 153); line-height: 1; font-weight: normal;
}
.btn {
	background: rgb(250, 250, 250); margin: 0px; padding: 9px 16px 10px; border-radius: 5px; transition:none; color: rgb(51, 51, 51); line-height: 1em; font-size: 13px; font-weight: bold; text-decoration: none; display: inline-block; box-shadow: 0px 1px 2px rgba(0,0,0,0.1), inset 0px 0px 1px #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 0 1px #fff; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 0 1px #fff; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.top-indent {
	margin-top: 20px;
}
.btn-primary {
	background: rgb(45, 129, 215); border-color: rgb(43, 121, 204); color: rgb(255, 255, 255);
}
.btn:hover {
	background: linear-gradient(rgb(252, 252, 252), rgb(243, 243, 243)) repeat-x 0px rgb(248, 248, 248); border-color: rgb(180, 180, 180); transition:none; color: rgb(51, 51, 51); box-shadow: 0px 1px 2px rgba(0,0,0,0.2), inset 0px 0px 1px #fff; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px #fff; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px #fff; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.btn:active {
	background: linear-gradient(rgb(240, 240, 240), rgb(226, 226, 226)) repeat-x 0px rgb(234, 234, 234); border-color: rgb(184, 184, 184); box-shadow: 0px 1px 2px rgba(0,0,0,0.1), inset 0px 5px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 5px 5px rgba(0, 0, 0, 0.1);
}
.btn:focus {
	background: rgb(250, 250, 250);
}
.btn-primary:hover {
	background: linear-gradient(rgb(46, 131, 222), rgb(29, 109, 185)) repeat-x 0px rgb(39, 122, 207); border-color: rgb(15, 83, 155); color: rgb(255, 255, 255); box-shadow: 0px 1px 2px rgba(0,0,0,0.2), inset 0px 0px 1px #fff; text-shadow: -1px -1px 1px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px #fff; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px #fff;
}
.btn-primary:active {
	background: linear-gradient(rgb(37, 122, 211), rgb(35, 117, 196)) repeat-x 0px rgb(36, 120, 205); border-color: rgb(22, 92, 166); box-shadow: 0px 1px 2px rgba(0,0,0,0.1), inset 0px 5px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 5px 5px rgba(0, 0, 0, 0.1);
}
.btn-primary:focus {
	background: linear-gradient(rgb(37, 122, 211), rgb(35, 117, 196)) repeat-x 0px rgb(36, 120, 205);
}
.btn-primary {
	padding: 10px 16px 8px; line-height: 18px; font-size: 16px;
}
.img-cart {
	margin: 8px 0px 16px;
}
.btn-save {
	background: url("images/marker-btn-save.png") no-repeat 0px 2px; color: rgb(153, 153, 153); padding-left: 19px; font-weight: bold;
}
.btn-save:hover {
	background-position: 0px -36px; color: rgb(38, 115, 180);
}
#frameWrapper {
	margin: 0px; height: 100%;
}
#frame {
	height: 100%; position: relative;
}
a.brand_livedemo {
	background: url("images/logo_livedemo.png") no-repeat 0px 0px; margin: 9px 0px 0px 25px; padding: 0px; width: 166px; height: 31px; line-height: 0; text-indent: -9999px; overflow: hidden; font-size: 0px; float: left; display: block; position: relative; z-index: 99;
}
#advanced {
	left: 0px; top: 0px; height: 50px; position: relative; z-index: 998;
}
#advanced .bg {
	background: rgb(255, 255, 230); height: 50px; border-bottom-color: rgb(203, 201, 153); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#advanced span.trigger {
	background: rgb(255, 255, 230); border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(203, 201, 153) rgb(203, 201, 153); left: 17px; width: 81px; height: 26px; bottom: -27px; display: block; position: absolute; cursor: pointer; border-bottom-right-radius: 6px; border-bottom-left-radius: 6px; box-shadow: 0px 2px 2px rgba(0,0,0,0.1); -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); -webkit-border-bottom-left-radius: 6px; -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-right-radius: 6px; -moz-border-radius-bottomright: 6px;
}
#advanced span.trigger em {
	background: url("images/img_trigger/trigger-arrow.png") no-repeat 0px 0px; left: 32px; width: 17px; height: 10px; bottom: 8px; display: block; position: absolute;
}
.closed#advanced span.trigger em {
	background-position: 0px bottom;
}
.topbar_info {
	float: right; position: relative;
}
.topbar_info .buy_now {
	margin: 4px 25px 0px 26px;
}
.topbar_info .buy_now .dropdown-toggle {
	padding: 14px 8px 13px; border-top-right-radius: 6px !important; border-bottom-right-radius: 6px !important;
}
.topbar_info .buy_now > a {
	padding: 5px 20px; text-align: center; color: rgb(255, 255, 255); line-height: 18px; font-size: 16px; position: relative; box-sizing: border-box; border-top-left-radius: 6px !important; border-bottom-left-radius: 6px !important; text-shadow: 0px -1px 0px rgba(0,0,0,0.25); -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.topbar_info .buy_now > a span {
	color: rgb(211, 228, 245); line-height: 12px; font-size: 11px; font-weight: normal; display: block; text-shadow: none;
}
.topbar_info .buy_now > a:hover {
	color: rgb(211, 228, 245);
}
.topbar_info .open.btn-group.buy_now button.dropdown-toggle.btn-primary {
	background: linear-gradient(rgb(37, 122, 211), rgb(35, 117, 196)) repeat-x 0px rgb(36, 120, 205); border-color: rgb(22, 92, 166); box-shadow: 0px 1px 2px rgba(0,0,0,0.1), inset 0px 5px 5px rgba(0,0,0,0.1); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), inset 0 5px 5px rgba(0, 0, 0, 0.1);
}
.topbar_info .btn-group.buy_now button.btn-primary:hover {
	background: linear-gradient(rgb(46, 131, 222), rgb(29, 109, 185)) repeat-x 0px rgb(39, 122, 207); border-color: rgb(15, 83, 155); color: rgb(255, 255, 255); box-shadow: 0px 1px 2px rgba(0,0,0,0.2), inset 0px 0px 1px #fff; text-shadow: -1px -1px 1px rgba(0,0,0,0.2); -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px #fff; -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), inset 0 0 1px #fff;
}
.topbar_info .btn-group.buy_now button.dropdown-toggle:focus {
	background: linear-gradient(rgb(37, 122, 211), rgb(35, 117, 196)) repeat-x 0px rgb(36, 120, 205);
}
.topbar_info .btn-group.buy_now button.dropdown-toggle em {
	background: url("images/sprite.png") no-repeat -193px -78px; width: 7px; height: 13px; display: block; z-index: 1000; cursor: pointer;
}
.topbar_info .buy_now {
	float: right;
}
.topbar_info .view_options {
	float: right;
}
.box-drop {
	background: rgb(255, 255, 255); padding: 8px 0px 15px 18px; border-radius: 5px; border: 1px solid rgb(205, 205, 205); left: auto; right: 0px; margin-top: 1px; float: none; box-sizing: border-box; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.2), 0px 1px 2px rgba(0,0,0,0.3); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .3); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .3);
}
.list-drop {
	margin: 0px; padding: 0px;
}
.list-drop li {
	padding: 8px 120px 7px 0px; line-height: 19px; font-size: 13px; position: relative;
}
.list-drop li > a {
	color: rgb(79, 79, 79); position: relative;
}
.list-drop li > a:hover {
	color: rgb(38, 115, 180);
}
.list-drop li .recommended {
	background: url("images/bg-recom.png") no-repeat 0px 0px; padding: 5px 10px 5px 18px; top: 1px; right: -1px; color: rgb(255, 255, 255); font-size: 12px; font-weight: normal; display: block; position: absolute;
}
.list-drop li a:hover .popover {
	transition:0.3s; opacity: 1; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease;
}
.list-drop li .popover {
	background: rgb(255, 255, 238); top: 36px; right: 84%; color: rgb(77, 77, 77); line-height: 15px; padding-top: 11px; padding-right: 5px; font-size: 12px; margin-right: -20px;
}
.ie .list-drop li a .popover {
	right: 105px;
}
.list-drop li a .popover h6 {
	padding-bottom: 0px; margin-bottom: 4px;
}
.name_template {
	padding: 18px 0px 0px; color: rgb(79, 79, 79); line-height: 16px; font-size: 13px; float: right; position: relative;
}
.name_template .link-1 {
	overflow: hidden; border-bottom-color: rgb(1, 121, 198); border-bottom-width: 1px; border-bottom-style: dotted; position: relative;
}
.name_template .link-1:hover .popover {
	transition:0.3s; opacity: 1; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease;
}
.popover {
	padding: 1px 13px 11px; border-radius: 5px; border: 1px solid rgb(206, 206, 206); transition:0.3s; left: auto; top: 24px; width: 260px; right: -203px; display: block; position: absolute; cursor: default; box-sizing: border-box; opacity: 0; pointer-events: none; box-shadow: 0px 3px 5px rgba(0,0,0,0.3); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease;
}
.popover::before {
	background: url("images/angle_popover.png") no-repeat 0px 0px; top: -11px; width: 22px; height: 11px; right: 223px; display: block; position: absolute; content: "";
}
.list-drop .popover {
	padding: 1px 13px 11px; border-radius: 5px; border: 1px solid rgb(206, 206, 206); transition:0.3s; left: auto; top: 36px; width: 260px; right: 200px; display: block; position: absolute; cursor: default; box-sizing: border-box; opacity: 0; pointer-events: none; box-shadow: 0px 3px 5px rgba(0,0,0,0.3); -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -o-transition: all .3s ease;
}
.list-drop .popover::before {
	background: url("images/angle_popover.png") no-repeat 0px 0px; top: -11px; width: 22px; height: 11px; right: 27px !important; display: block; position: absolute; content: "";
}
.popover h6 {
	color: rgb(77, 77, 77); padding-top: 5px; padding-bottom: 2px; font-size: 12px; font-weight: bold;
}
.popover .template_details {
	margin: 0px;
}
.popover .template_details li {
	color: rgb(77, 77, 77); line-height: 13px; padding-bottom: 5px; font-size: 11px;
}
.view_options {
	position: relative;
}
.view_options dt {
	margin: 1px 0px !important; padding: 11px 10px 5px; border-radius: 4px; border: 1px solid rgb(255, 255, 230); width: 47px; height: 37px; position: relative; cursor: pointer; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.view_options dt::before {
	top: 11px; width: 5px; height: 16px; right: 7px; display: block; position: absolute; content: "";
}
.view_options dt:hover {
	border: 1px solid rgb(225, 225, 212);
}
.view_options dt.active {
	border: 1px solid rgb(225, 225, 212);
}
.view_options dt img {
	left: -3px; top: -4px; width: 21px; height: 21px; float: left; display: inline-block; position: relative;
}
.view_options dd {
	background: rgb(255, 255, 255); margin: 0px; padding: 16px 24px 14px; border-radius: 4px; border: 1px solid rgb(206, 206, 206); left: auto; top: 50px; width: 180px; right: -8px; position: absolute; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.view_options dd iframe {
	padding: 0px 16px 7px 0px; width: 228px; height: 228px !important; overflow: hidden;
}
.view_options ul {
	margin: 0px; padding: 0px; overflow: hidden;
}
.view_options ul li {
	padding: 0px 5px; float: left;
}
.view_options ul li a {
	opacity: 1;
}
.view_options ul li.active a {
	opacity: 0.5;
}
.view_options ul li a:hover {
	opacity: 0.5;
}
@media all and (min-width:1200px)
{
.top_container {
	width: 1170px !important; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
}
@media only screen and (max-width:979px)
{
.view_options {
	display: none;
}
}
@media only screen and (max-width:979px) and (min-width:768px)
{
.top_container {
	width: 724px;
}
}
@media only screen and (max-width:767px)
{
.top_container {
	width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.topbar_info .buy_now {
	margin-left: 10px;
}
}
@media all and (max-width:670px)
{
a.brand_livedemo {
	background: url("images/logo_livedemo_small.png") no-repeat 0px 0px; margin: 9px 0px 0px 25px; width: 34px; height: 30px; float: left;
}
}
@media all and (max-width:538px)
{
.name_template {
	display: none;
}
}
@media all and (max-width:480px)
{
.popover {
	display: none;
}
.topbar_info .buy_now > a {
	padding: 5px 14px;
}
}
.already-get {
	padding: 5px 10px !important; border-radius: 6px !important; letter-spacing: -1px; font-size: 14px !important; margin-top: 7px;
}
a.brand_livedemo {
	width: 36px;
}
.name_template {
	margin-left: 8px; float: left;
}
#responsivator {
	margin: 16px 0px 0px; float: left;
}
#responsivator li {
	margin: 0px 17px 0px 0px; float: left;
}
#responsivator li.active {
	float: left;
}
#responsivator li.qr {
	opacity: 1 !important;
}
.container {
	width: 100%;
}
.navbar-static-top .container {
	width: 100%;
}
.navbar-fixed-top .container {
	width: 100%;
}
.navbar-fixed-bottom .container {
	width: 100%;
}
.responsive-block {
	top: -5px; width: 260px; height: 50px; float: left; display: none; position: absolute;
}
@media all and (max-width:670px)
{
.responsive-block {
	display: none !important;
}
}
#qr-text {
	background: url("images/qr-text.png") no-repeat 3px -20px rgb(40, 40, 40); top: -10px; width: 180px; height: 21px; right: 0px; float: left; position: relative;
}
#desktop {
	background: url("images/sprite.png") no-repeat 3px 0px; margin: 1px 0px 0px 1px; left: 0px; top: 0px; width: 34px; height: 26px; float: right; display: block; position: relative; cursor: pointer;
}
#desktop:hover {
	background: url("images/sprite.png") no-repeat 3px -34px;
}
.active#desktop {
	background: url("images/sprite.png") no-repeat 3px -34px;
}
#tablet-landscape {
	background: url("images/sprite.png") no-repeat -49px 0px; margin: 1px 0px 0px 1px; left: 0px; top: 0px; width: 22px; height: 22px; float: right; display: block; position: relative; cursor: pointer;
}
#tablet-landscape:hover {
	background: url("images/sprite.png") no-repeat -49px -34px;
}
.active#tablet-landscape {
	background: url("images/sprite.png") no-repeat -49px -34px;
}
#tablet-portrait {
	background: url("images/sprite.png") no-repeat -90px 0px; margin: 1px 0px 0px 1px; left: 0px; top: 0px; width: 18px; height: 24px; float: right; display: block; position: relative; cursor: pointer;
}
#tablet-portrait:hover {
	background: url("images/sprite.png") no-repeat -91px -33px;
}
.active#tablet-portrait {
	background: url("images/sprite.png") no-repeat -91px -33px;
}
#iphone-landscape {
	background: url("images/sprite.png") no-repeat -129px 0px; margin: 1px 0px 0px 1px; left: 0px; top: 0px; width: 20px; height: 20px; float: right; display: block; position: relative; cursor: pointer;
}
#iphone-landscape:hover {
	background: url("images/sprite.png") no-repeat -128px -33px;
}
.active#iphone-landscape {
	background: url("images/sprite.png") no-repeat -128px -33px;
}
#iphone-portrait {
	background: url("images/sprite.png") no-repeat -166px 0px; margin: 1px 0px 0px 1px; left: 0px; top: 0px; width: 12px; height: 26px; float: right; display: block; position: relative; cursor: pointer;
}
#iphone-portrait:hover {
	background: url("images/sprite.png") no-repeat -166px -33px;
}
.active#iphone-portrait {
	background: url("images/sprite.png") no-repeat -166px -33px;
}
#qr {
	left: -3px; top: -6px; position: relative;
}
#qr-arr {
	background: url("images/qr-arr.png") no-repeat 0px 0px; left: 181px; top: 0px; width: 15px; height: 26px; position: relative;
}
@media all and (max-width:350px)
{
#livedemo #advanced a.brand {
	margin-left: 5px;
}
#livedemo #advanced div.topbar_info div.btn-group {
	margin-right: 5px;
}
}
#livedemo #qr dl._slide-down1 dd.clearfix img {
	max-width: none;
}
.view_options dd::before {
	background: url("images/angle_popover.png") no-repeat 0px 0px; top: -11px; width: 22px; height: 11px; right: 6px; display: block; position: absolute; content: "";
}
#arr {
	background: url("images/sprite.png") no-repeat -193px -8px; margin: 1px 0px 0px 4px; width: 10px; height: 10px; float: right; display: block;
}
#arr2 {
	background: url("images/sprite.png") no-repeat -193px -8px; margin: 1px 0px 0px 4px; width: 10px; height: 10px; float: right; display: block;
}
#arr2 {
	margin: 0px -8px 0px 0px;
}
#arr {
	background: url("images/sprite.png") no-repeat -188px -6px; margin: 0px; padding: 5px 3px 2px 4px; width: 7px;
}
#popover2 {
	background: rgb(255, 255, 255); margin: 0px; padding: 18px 2px 8px 16px; border-radius: 4px; border: 1px solid rgb(206, 206, 206); left: auto; top: 55px; width: 180px; right: -129px; display: none; position: absolute; z-index: 9999999; opacity: 1; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
#popover2::before {
	background: url("images/angle_popover.png") no-repeat 0px 0px; top: -11px; width: 22px; height: 11px; right: 155px; display: block; position: absolute; content: "";
}
#popover2 a {
	color: inherit;
}
#popover2 a:hover {
	color: rgb(38, 115, 180);
}
#popover2 span {
	margin: 0px 7px 14px 0px; width: 13px; height: 15px; float: left; display: block;
}
#popover2 #pop_link1 {
	background: url("images/sprite.png") no-repeat -50px -77px;
}
#popover2 #pop_link2 {
	background: url("images/sprite.png") no-repeat -9px -77px;
}
#popover2 #pop_link3 {
	background: url("images/sprite.png") no-repeat -94px -77px;
}
.ie9 #popover2 #pop_link1 {
	background: url("images/sprite.png") no-repeat -50px -78px;
}
.ie9 #popover2 #pop_link2 {
	background: url("images/sprite.png") no-repeat -9px -78px;
}
.ie9 #popover2 #pop_link3 {
	background: url("images/sprite.png") no-repeat -94px -78px;
}
.safari.mac #livedemo #headerlivedemo .btn#buy-button {
	padding: 14px 8px;
}
