<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <!-- Unity Container section for Registeration-->
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IServiceLocator" type="Microsoft.Practices.ServiceLocation.IServiceLocator, Microsoft.Practices.ServiceLocation" />
    <alias alias="IAdministrative" type="FootyStreet.Business.Administration.Contracts.IAdministrative, FootyStreet.Business.Administration.Contracts" />
    <alias alias="IProduct" type="FootyStreet.Business.Product.Contracts.IProduct, FootyStreet.Business.Product.Contracts" />
    <alias alias="ISessionContainer" type="FootyStreet.Utilities.ISessionContainer, FootyStreet.Utilities" />
    
    <!--<alias alias="FS_Tag" type="FootyStreet.Data.Tag, FootyStreet.Data" />-->

    <container name="FootyUnityContainer">
      <register type="IAdministrative" mapTo="FootyStreet.Business.Administration.AdministrativeProcessor, FootyStreet.Business.Administration"/>
      <register type="IProduct" mapTo="FootyStreet.Business.Product.ProductProcessor, FootyStreet.Business.Product"/>
      <register type="IServiceLocator" mapTo="IndianFootyShop.UnityMvcServiceLocator, IndianFootyShop"/>
      <register type="ISessionContainer" mapTo="FootyStreet.Utilities.SessionContainer, FootyStreet.Utilities"/>
      <!--<register type="IRepository[FS_Tag]" mapTo="DefaultRepository[FSEntities, FS_Tag]" />-->
    </container>
  </unity>
  
</configuration>
