<div class="container " id="columns">
    <div class="row ">
        <div class="loader_page">
            <div class="center_column span12 clearfix" id="center_column">
                <!-- MODULE Home Featured Products -->
                <section class="main_page_products block" id="addhomefeatured">
                    <h4><span>Featured products</span></h4>
                    <ul class="row">
                        <li class="ajax_block_product span3  num-1 alpha ">
                            <a class="product_image"
                               href="#">
                                <img class="main-img" alt="Jersey Real Madrid Home Kit 2013-14" style="width:260px;height:260px" src="~/Images/Products/Apparel/jersey_real_madrid_home_2013-14.jpg">
                                <img class="next-img" style="display: none;" alt="" src="~/Images/Products/Apparel/jersey_real_madrid_home_2013-14.jpg">

                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="#">
                                        Jersey Real Madrid Home Kit 2013-14
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price price-new">
                                    $123
                                </span><span class="price-old">$129</span>                          
                            <a class="exclusive ajax_add_to_cart_button btn_add_cart" href="#" rel="ajax_id_product_1"><span></span></a>
                            <a class="button" href="" rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-2 ">
                            <a class="product_image" href="#">
                                <img class="main-img" alt="Shorts Barcelona Home-Kit 2013-14" style="width:250px;height:260px" src="~/Images/Products/Apparel/shorts_barca_home_2013-14.jpg">
                                <img class="next-img" style="display: none;" alt="" src="~/Images/Products/Apparel/shorts_barca_home_2013-14.jpg">

                            </a>
                            
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="#">
                                        Shorts Barcelona Home-Kit 2013-14
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price">$629</span>
                                <a class="exclusive ajax_add_to_cart_button btn_add_cart" href="#" rel="ajax_id_product_2"><span></span></a>          
                                <a class="button" href="#" rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-3 ">
                            <a class="product_image" href="#">
                                <img class="main-img" alt="My Autobiography by Sir Alex" style="width:240px;height:260px" src="~/Images/Products/Books/autobiography_myautobiography_sir_alex_paperback.jpg"><img class="next-img" style="display: none;" alt="" src="~/Images/Products/Books/autobiography_myautobiography_sir_alex_paperback.jpg">
                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="#">
                                        My Autobiography by Sir Alex
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price price-new">
                                    $395
                                </span><span class="price-old">$429</span>                          <a class="exclusive ajax_add_to_cart_button btn_add_cart" href="#"
                                                                                                       rel="ajax_id_product_3"><span></span></a>          <a class="button" href="#"
                                                                                                                                                             rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-4 omega ">
                            <a class="product_image"
                               href="#">
                                <img class="main-img" style="width:240px;height:260px" alt="Fever Pitch by Nick Hornby" src="~/Images/Products/Books/sports_feverpitch_nick_hornby_paperback.jpg">
                                <img class="next-img" style="display: none;" alt="" src="~/Images/Products/Books/sports_feverpitch_nick_hornby_paperback.jpg">
                            </a>

                            <div>
                                <h5><a title="" class="product_link" href="#">Fever Pitch by Nick Hornby</a></h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price">$929</span>
                                <a class="exclusive ajax_add_to_cart_button btn_add_cart" href="#" rel="ajax_id_product_4"><span></span></a>
                                <a class="button" href="#" rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-5 alpha last_line">
                            <a class="product_image"
                               href="#">
                                <img class="main-img" alt="Miuyas Laytsas" style="width:260px;height:260px" src="~/Images/Products/Equipment/studs_adidas_astroturff.jpg"><img class="next-img" style="display: none;" alt="" src="~/Images/Products/Equipment/studs_adidas_astroturff.jpg">
                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="#">
                                        Adidas Studs for Astroturf
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price">$429</span><a class="exclusive ajax_add_to_cart_button btn_add_cart"
                                                                                                                             href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=5&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                                             rel="ajax_id_product_5"><span></span></a>          <a class="button" href="#" rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-6 last_line">
                            <a class="product_image"
                               href="#">
                                <img class="main-img" alt="Adidas Studs for Grass" style="width:260px;height:260px" src="~/Images/Products/Equipment/studs_adidas_firmground.jpg"><img class="next-img" style="display: none;" alt="" src="~/Images/Products/Equipment/studs_adidas_firmground.jpg">
                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="#">
                                        Adidas Studs for Grass
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price">$429</span><a class="exclusive ajax_add_to_cart_button btn_add_cart"
                                                                                                                             href="#"
                                                                                                                             rel="ajax_id_product_6"><span></span></a>          <a class="button" href="#"
                                                                                                                                                                                   rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-7 last_line">
                            <a class="product_image"
                               href="#">
                                <img class="main-img" alt="Adidas Studs" style="width:260px;height:260px" src="~/Images/Products/Equipment/studs_adidas_grass.jpg"><img class="next-img" style="display: none;" alt="" src="~/Images/Products/Equipment/studs_adidas_grass.jpg">
                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=7&amp;controller=product&amp;id_lang=1">
                                        Adidas Studs for Grass
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price">$632</span><a class="exclusive ajax_add_to_cart_button btn_add_cart"
                                                                                                                             href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=7&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                                             rel="ajax_id_product_7"><span></span></a>          <a class="button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=7&amp;controller=product&amp;id_lang=1"
                                                                                                                                                                                   rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-8 omega last_line">
                            <a class="product_image"
                               href="#">
                                <img class="main-img" alt="Nike Barcelona Football" style="width:260px;height:260px" src="~/Images/Products/Equipment/football_nike_barcelona_yellow.jpg"><img class="next-img" style="display: none;" alt="" src="~/Images/Products/Equipment/football_nike_barcelona_yellow.jpg">
                            </a>
                            <div>
                                <h5><a title="" class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=8&amp;controller=product&amp;id_lang=1">Nike Barcelona Football</a></h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price price-new">
                                    $563
                                </span><span class="price-old">$640</span>                          <a class="exclusive ajax_add_to_cart_button btn_add_cart" href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=8&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                       rel="ajax_id_product_8"><span></span></a>          <a class="button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=8&amp;controller=product&amp;id_lang=1"
                                                                                                                                                             rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                    </ul>
                </section><!-- /MODULE Home Featured Products -->
                <div id="htmlcontent_home">
                    <ul class="htmlcontent-home clearfix row"></ul>
                </div>
            </div><!-- Right -->
        </div>
    </div>
</div>