<div class="container " id="columns">
    <div class="row ">
        <div class="loader_page">
            <div class="center_column span12 clearfix" id="center_column">
                <!-- MODULE Home Featured Products -->
                <section class="main_page_products block" id="addhomefeatured">
                    <h4><span>Featured products</span></h4>
                    <ul class="row">
                        <li class="ajax_block_product span3  num-1 alpha ">
                            <a class="product_image"
                               href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=1&amp;controller=product&amp;id_lang=1">
                                <img class="main-img" alt="Miuyas Laytsas®" src="~/Content/themes/base/images/1-home_default.jpg"><img class="next-img" style="display: none;" alt="" src="~/Content/themes/base/images/2-home_default.jpg">

                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=1&amp;controller=product&amp;id_lang=1">
                                        Miuyas
                                        Laytsas®
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price price-new">
                                    $123
                                </span><span class="price-old">$129</span>                          <a class="exclusive ajax_add_to_cart_button btn_add_cart" href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=1&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                       rel="ajax_id_product_1"><span></span></a>          <a class="button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=1&amp;controller=product&amp;id_lang=1"
                                                                                                                                                             rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-2 ">
                            <a class="product_image" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&amp;controller=product&amp;id_lang=1">
                                <img class="main-img" alt="Btrease Vaers®" src="~/Content/themes/base/images/9-home_default.jpg"><img class="next-img" style="display: none;" alt="" src="~/Content/themes/base/images/10-home_default.jpg">

                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&amp;controller=product&amp;id_lang=1">
                                        Btrease
                                        Vaers®
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price">$629</span><a class="exclusive ajax_add_to_cart_button btn_add_cart"
                                                                                                                             href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=2&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                                             rel="ajax_id_product_2"><span></span></a>          <a class="button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&amp;controller=product&amp;id_lang=1"
                                                                                                                                                                                   rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-3 ">
                            <a class="product_image" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=3&amp;controller=product&amp;id_lang=1">
                                <img class="main-img" alt="Ketyasas vtreasas®" src="~/Content/themes/base/images/17-home_default.jpg"><img class="next-img" style="display: none;" alt="" src="~/Content/themes/base/images/18-home_default.jpg">
                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=3&amp;controller=product&amp;id_lang=1">
                                        Ketyasas
                                        vtreasas®
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price price-new">
                                    $395
                                </span><span class="price-old">$429</span>                          <a class="exclusive ajax_add_to_cart_button btn_add_cart" href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=3&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                       rel="ajax_id_product_3"><span></span></a>          <a class="button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=3&amp;controller=product&amp;id_lang=1"
                                                                                                                                                             rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-4 omega ">
                            <a class="product_image"
                               href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&amp;controller=product&amp;id_lang=1">
                                <img class="main-img" alt="Yapuytasa®" src="~/Content/themes/base/images/25-home_default.jpg"><img class="next-img" style="display: none;" alt="" src="~/Content/themes/base/images/26-home_default.jpg">
                            </a>
                            <div>
                                <h5><a title="" class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&amp;controller=product&amp;id_lang=1">Yapuytasa®</a></h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price">$929</span><a class="exclusive ajax_add_to_cart_button btn_add_cart"
                                                                                                                             href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=4&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                                             rel="ajax_id_product_4"><span></span></a>          <a class="button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&amp;controller=product&amp;id_lang=1"
                                                                                                                                                                                   rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-5 alpha last_line">
                            <a class="product_image"
                               href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=5&amp;controller=product&amp;id_lang=1">
                                <img class="main-img" alt="Miuyas Laytsas" src="~/Content/themes/base/images/33-home_default.jpg"><img class="next-img" style="display: none;" alt="" src="~/Content/themes/base/images/34-home_default.jpg">
                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=5&amp;controller=product&amp;id_lang=1">
                                        Miuyas
                                        Laytsas
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price">$429</span><a class="exclusive ajax_add_to_cart_button btn_add_cart"
                                                                                                                             href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=5&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                                             rel="ajax_id_product_5"><span></span></a>          <a class="button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=5&amp;controller=product&amp;id_lang=1"
                                                                                                                                                                                   rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-6 last_line">
                            <a class="product_image"
                               href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=6&amp;controller=product&amp;id_lang=1">
                                <img class="main-img" alt="Btrease Vaers®" src="~/Content/themes/base/images/41-home_default.jpg"><img class="next-img" style="display: none;" alt="" src="~/Content/themes/base/images/42-home_default.jpg">
                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=6&amp;controller=product&amp;id_lang=1">
                                        Btrease
                                        Vaers®
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price">$429</span><a class="exclusive ajax_add_to_cart_button btn_add_cart"
                                                                                                                             href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=6&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                                             rel="ajax_id_product_6"><span></span></a>          <a class="button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=6&amp;controller=product&amp;id_lang=1"
                                                                                                                                                                                   rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-7 last_line">
                            <a class="product_image"
                               href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=7&amp;controller=product&amp;id_lang=1">
                                <img class="main-img" alt="Ketyasas vtreasas®" src="~/Content/themes/base/images/49-home_default.jpg"><img class="next-img" style="display: none;" alt="" src="~/Content/themes/base/images/50-home_default.jpg">
                            </a>
                            <div>
                                <h5>
                                    <a title="" class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=7&amp;controller=product&amp;id_lang=1">
                                        Ketyasas
                                        vtreasas®
                                    </a>
                                </h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price">$632</span><a class="exclusive ajax_add_to_cart_button btn_add_cart"
                                                                                                                             href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=7&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                                             rel="ajax_id_product_7"><span></span></a>          <a class="button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=7&amp;controller=product&amp;id_lang=1"
                                                                                                                                                                                   rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                        <li class="ajax_block_product span3  num-8 omega last_line">
                            <a class="product_image"
                               href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=8&amp;controller=product&amp;id_lang=1">
                                <img class="main-img" alt="Yapuytasa®" src="~/Content/themes/base/images/57-home_default.jpg"><img class="next-img" style="display: none;" alt="" src="~/Content/themes/base/images/58-home_default.jpg">
                            </a>
                            <div>
                                <h5><a title="" class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=8&amp;controller=product&amp;id_lang=1">Yapuytasa®</a></h5>
                                <p class="product_desc">There is nothing better than...</p><span class="price price-new">
                                    $563
                                </span><span class="price-old">$640</span>                          <a class="exclusive ajax_add_to_cart_button btn_add_cart" href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart?qty=1&amp;id_product=8&amp;token=ffc916940df8072ed4261aac6c53678d&amp;add"
                                                                                                       rel="ajax_id_product_8"><span></span></a>          <a class="button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=8&amp;controller=product&amp;id_lang=1"
                                                                                                                                                             rel="tooltip" data-placement="bottom">View</a>
                            </div>
                        </li>
                    </ul>
                </section><!-- /MODULE Home Featured Products -->
                <div id="htmlcontent_home">
                    <ul class="htmlcontent-home clearfix row"></ul>
                </div>
            </div><!-- Right -->
        </div>
    </div>
</div>
