@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<link href="~/Content/themes/base/089b51659dce13974ab01e47a46d3548_all.css" rel="stylesheet" />
@*<script src="~/Scripts/plugins/43fa705c05fdd97f415260275b45979d.js"></script>*@
                <div id="columns" class="container ">
                    <div class="breadcrumb">
                        <div class="breadcrumb_inset">
                            <a class="breadcrumb-home" href="http://livedemo00.template-help.com/prestashop_46849/" title="Return to Home"><i class="icon-home"></i></a>
                            <span class="navigation-pipe ">&gt;</span>
                            <span class="navigation_page">Miuyas Laytsas®</span>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="loader_page">

                            <div id="center_column" class="center_column span9 clearfix">


                                

                                <!-- Breadcrumb -->
                                <!-- /Breadcrumb -->
                                <div id="primary_block" class="clearfix">
                                    <!--ADD CUSTOM CLOUD ZOOM!!!-->
                                    <!-- Call quick start function. -->
                                    <!-- right infos-->
                                    <div class="row">
                                        <div id="pb-right-column" class="span4">
                                            <h1 class="pb-right-colum-h">Miuyas Laytsas®</h1>
                                            <!-- product img-->
                                            <div id="image-block">
                                                <span id="view_full_size">
                                                    <div id="wrap" style="top:0px;z-index:auto;position:relative;">
                                                        <a id="zoom1" rel="position: &#39;inside&#39; , showTitle: false, adjustX:0, adjustY:0" class="cloud-zoom" href="~/Content/themes/base/images/1-thickbox_default.jpg" style="position: relative; display: block;">
                                                            <img id="mousetrap_img" alt="Miuyas Laytsas®" width="106" height="106" title="Miuyas Laytsas®" src="~/Content/themes/base/images/1-thickbox_default.jpg" rel="http://livedemo00.template-help.com/prestashop_46849/img/p/1/1-thickbox_default.jpg" style="display: block;">
                                                            <img id="bigpic" alt="Miuyas Laytsas®" title="Miuyas Laytsas®" src="~/Content/themes/base/images/1-large_default.jpg" rel="http://livedemo00.template-help.com/prestashop_46849/img/p/1/1-thickbox_default.jpg" style="display: block;"><span class="mask"></span>
                                                        </a><div class="mousetrap" style="background-image:url(&quot;.&quot;);z-index:999;position:absolute;width:106px;height:106px;left:0px;top:0px;"></div>
                                                    </div>
                                                </span>
                                            </div>
                                            <!-- thumbnails -->
                                            <div id="views_block" class=" ">
                                                <a id="view_scroll_left" title="Other views" href="javascript:{}" style="cursor: default; opacity: 0; display: none;">Previous</a>		<div id="thumbs_list">
                                                    <ul id="thumbs_list_frame" style="width: 760px;">


                                                        <li id="thumbnail_1">
                                                            <a href="~/Content/themes/base/images/1-thickbox_default.jpg" class="cloud-zoom-gallery" title="" rel="useZoom: &#39;zoom1&#39;, smallImage: &#39;http://livedemo00.template-help.com/prestashop_46849/img/p/1/1-large_default.jpg&#39;">
                                                                <img id="thumb_1" src="~/Content/themes/base/images/1-medium_default.jpg" alt="">
                                                            </a>

                                                        </li>

                                                        <li id="thumbnail_2">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/img/p/2/2-thickbox_default.jpg" class="cloud-zoom-gallery" title="" rel="useZoom: &#39;zoom1&#39;, smallImage: &#39;http://livedemo00.template-help.com/prestashop_46849/img/p/2/2-large_default.jpg&#39;">
                                                                <img id="thumb_2" src="~/Content/themes/base/images/2-medium_default.jpg" alt="">
                                                            </a>

                                                        </li>

                                                        <li id="thumbnail_3">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/img/p/3/3-thickbox_default.jpg" class="cloud-zoom-gallery" title="" rel="useZoom: &#39;zoom1&#39;, smallImage: &#39;http://livedemo00.template-help.com/prestashop_46849/img/p/3/3-large_default.jpg&#39;">
                                                                <img id="thumb_3" src="~/Content/themes/base/images/3-medium_default.jpg" alt="">
                                                            </a>

                                                        </li>

                                                        <li id="thumbnail_4">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/img/p/4/4-thickbox_default.jpg" class="cloud-zoom-gallery" title="" rel="useZoom: &#39;zoom1&#39;, smallImage: &#39;http://livedemo00.template-help.com/prestashop_46849/img/p/4/4-large_default.jpg&#39;">
                                                                <img id="thumb_4" src="~/Content/themes/base/images/4-medium_default.jpg" alt="">
                                                            </a>

                                                        </li>

                                                        <li id="thumbnail_5">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/img/p/5/5-thickbox_default.jpg" class="cloud-zoom-gallery" title="" rel="useZoom: &#39;zoom1&#39;, smallImage: &#39;http://livedemo00.template-help.com/prestashop_46849/img/p/5/5-large_default.jpg&#39;">
                                                                <img id="thumb_5" src="~/Content/themes/base/images/5-medium_default.jpg" alt="">
                                                            </a>

                                                        </li>

                                                        <li id="thumbnail_6">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/img/p/6/6-thickbox_default.jpg" class="cloud-zoom-gallery" title="" rel="useZoom: &#39;zoom1&#39;, smallImage: &#39;http://livedemo00.template-help.com/prestashop_46849/img/p/6/6-large_default.jpg&#39;">
                                                                <img id="thumb_6" src="~/Content/themes/base/images/6-medium_default.jpg" alt="">
                                                            </a>

                                                        </li>

                                                        <li id="thumbnail_7">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/img/p/7/7-thickbox_default.jpg" class="cloud-zoom-gallery" title="" rel="useZoom: &#39;zoom1&#39;, smallImage: &#39;http://livedemo00.template-help.com/prestashop_46849/img/p/7/7-large_default.jpg&#39;">
                                                                <img id="thumb_7" src="~/Content/themes/base/images/7-medium_default.jpg" alt="">
                                                            </a>

                                                        </li>

                                                        <li id="thumbnail_8">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/img/p/8/8-thickbox_default.jpg" class="cloud-zoom-gallery" title="" rel="useZoom: &#39;zoom1&#39;, smallImage: &#39;http://livedemo00.template-help.com/prestashop_46849/img/p/8/8-large_default.jpg&#39;">
                                                                <img id="thumb_8" src="~/Content/themes/base/images/8-medium_default.jpg" alt="">
                                                            </a>

                                                        </li>
                                                    </ul>
                                                </div>
                                                <a id="view_scroll_right" title="Other views" href="javascript:{}" style="cursor: pointer; opacity: 1; display: block;">Next</a>
                                            </div>
                                            <p class="resetimg">
                                                <span id="wrapResetImages" class="hidden">
                                                    <i class="icon-reply"></i>
                                                    <a id="resetImages" href="~/Content/themes/base/images/product_details.htm" onclick="$(&#39;span#wrapResetImages&#39;).hide(&#39;slow&#39;);return (false);">Display all pictures</a>
                                                </span>
                                            </p>

                                            <ul id="usefull_link_block" class="clearfix">
                                                <li id="left_share_fb">
                                                    <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Flivedemo00.template-help.com%2Fprestashop_46849%2Findex.php%3Fid_product%3D1%26controller%3Dproduct%26id_lang%3D1&t=Miuyas+Laytsas%C2%AE" class="js-new-window"><i class="icon-facebook-sign"></i>Share on Facebook</a>
                                                </li>
                                                <script text="javascript">

                                                    $('document').ready(function(){
                                                        $('#send_friend_button').fancybox({
                                                            autoScale : true,
                                                            'hideOnContentClick': false,
                                                            'hideOnOverlayClick': true
                                                        });

                                                        $('#sendEmail').click(function(){
                                                            var datas = [];
                                                            $('#fancybox-content').find('input').each(function(index){
                                                                var o = {};
                                                                o.key = $(this).attr('name');
                                                                o.value = $(this).val();
                                                                if (o.value != '')
                                                                    datas.push(o);
                                                            });
                                                            if (datas.length >= 3)
                                                            {
                                                                $.ajax({
                                                                    url: "/prestashop_46849/modules/sendtoafriend/sendtoafriend_ajax.php",
                                                                    type: "POST",
                                                                    headers: {"cache-control": "no-cache"},
                                                                    data: {action: 'sendToMyFriend', secure_key: 'bae7e1040eaa8371f5bb8437fc04de7a', friend: unescape(JSON.stringify(datas).replace(/u/g, '%u'))},
                                                                    dataType: "json",
                                                                    success: function(result){
                                                                        $.fancybox.close();
                                                                    }
                                                                });
                                                            }
                                                            else
                                                                $('#send_friend_form_error').text("You did not fill required fields");
                                                        });
                                                    });

                                                </script>
                                                <li class="sendtofriend">
                                                    <a id="send_friend_button" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=1&controller=product&id_lang=1#send_friend_form"><i class="icon-envelope"></i>Send to a friend</a>
                                                </li>
                                                <div class="hidden">
                                                    <div id="send_friend_form">
                                                        <h1 class="title clearfix">Send to a friend</h1>
                                                        <div class="row-fluid">
                                                            <div class="span6 titled_box">
                                                                <h2 class="product_name"><span>Miuyas Laytsas®</span></h2>
                                                                <div class="product clearfix">
                                                                    <img src="~/Content/themes/base/images/1-small_default.jpg" alt="Miuyas Laytsas®">
                                                                    <div class="product_desc">
                                                                        <p>There is nothing better than charming coffee aroma which flows into your sleepy morning. Everyday millions of people enjoy their lives by drinking a fragrant dark morning drink. The origin of coffee is covered with mystery. Thousands of legends have been told, hundreds of gods have been created and millions of minds have been lured with the coffee mania.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="span6">
                                                                <div class="send_friend_form_content">
                                                                    <div id="send_friend_form_error"></div>
                                                                    <div class="form_container titled_box">
                                                                        <h2 class="intro_form "><span>Recipient :</span></h2>
                                                                        <p class="text">
                                                                            <label for="friend_name">Name of your friend <sup class="required">*</sup> :</label>
                                                                            <input id="friend_name" name="friend_name" type="text" value="">
                                                                        </p>
                                                                        <p class="text">
                                                                            <label for="friend_email">E-mail address of your friend <sup class="required">*</sup> :</label>
                                                                            <input id="friend_email" name="friend_email" type="text" value="">
                                                                        </p>
                                                                        <p class="txt_required"><sup class="required">*</sup> Required fields</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="submit sendfrend_footer">
                                                            <input id="id_product_comment_send" name="id_product" type="hidden" value="1">
                                                            <button class="btn btn-inverse" onclick="$.fancybox.close();">Cancel</button>
                                                            <button id="sendEmail" class="btn btn-inverse" name="sendEmail" type="submit">Send</button>
                                                            <!--input id="sendEmail" class="btn btn-inverse" name="sendEmail" type="submit" value="Send" /-->
                                                        </p>
                                                    </div>
                                                </div>

                                                <li id="favoriteproducts_block_extra_added" class="favorite">
                                                    <i class="icon-heart"></i>Remove this product from my favorite's list.
                                                </li>
                                                <li id="favoriteproducts_block_extra_removed" class="favorite">
                                                    <i class="icon-heart-empty"></i>Add this product to my list of favorites.
                                                </li>
                                                <li class="print"><a href="javascript:print();"><i class="icon-print"></i>Print</a></li>
                                            </ul>
                                        </div>
                                        <!-- left infos-->
                                        <div id="pb-left-column" class="span5">
                                            <h1>Miuyas Laytsas®</h1>
                                            <div id="short_description_block">
                                                <div id="short_description_content" class="rte align_justify"><p>There is nothing better than charming coffee aroma which flows into your sleepy morning. Everyday millions of people enjoy their lives by drinking a fragrant dark morning drink. The origin of coffee is covered with mystery. Thousands of legends have been told, hundreds of gods have been created and millions of minds have been lured with the coffee mania.</p></div>

                                                <!---->
                                            </div>



                                            <!-- add to cart form-->
                                            <form id="buy_block" action="" method="post">
                                                <!-- hidden datas -->
                                                <p class="hidden">
                                                    <input type="hidden" name="token" value="ffc916940df8072ed4261aac6c53678d">
                                                    <input type="hidden" name="id_product" value="1" id="product_page_product_id">
                                                    <input type="hidden" name="add" value="1">
                                                    <input type="hidden" name="id_product_attribute" id="idCombination" value="">
                                                </p>
                                                <div class="product_attributes">

                                                    <div class="row-3">


                                                        <!-- availability -->
                                                        <p id="availability_statut" class="hidden">
                                                            <span id="availability_label">Availability:</span>
                                                            <span id="availability_value">
                                                            </span>
                                                        </p>
                                                        <!-- number of item in stock -->
                                                        <p id="pQuantityAvailable">
                                                            <span id="quantityAvailable">100</span>
                                                            <span class="hidden" id="quantityAvailableTxt">item in stock</span>
                                                            <span id="quantityAvailableTxtMultiple">items in stock</span>
                                                        </p>

                                                        <p class="warning_inline  hidden" id="last_quantities">Warning: Last items in stock!</p>


                                                        <p id="product_reference" class="hidden">
                                                            <label for="product_reference">Reference: </label>
                                                            <span class="editable"></span>
                                                        </p>
                                                        <span class="online_only">Online only</span>
                                                    </div>


                                                    <!-- minimal quantity wanted -->
                                                    <p id="minimal_quantity_wanted_p" class="hidden">
                                                        This product is not sold individually. You must select at least <b id="minimal_quantity_label">1</b> quantity for this product.
                                                    </p>
                                                    <p class="warning_inline  hidden" id="last_quantities">Warning: Last items in stock!</p>
                                                </div>
                                                <div class="content_prices clearfix">
                                                    <!-- prices -->


                                                    <div class="row-2 ">


                                                        <p id="reduction_percent"><span id="reduction_percent_display" class="price">-5%</span></p>
                                                        <p id="reduction_amount" class="hidden"><span id="reduction_amount_display" class="price"></span></p>
                                                        <p id="old_price">
                                                            <span class="price">
                                                                <span id="old_price_display price">$129</span>
                                                                <!--  -->
                                                            </span>
                                                        </p>
                                                        <img src="~/Content/themes/base/images/onsale_en.gif" alt="On sale" class="on_sale_img">
                                                        <span class="on_sale">On sale!</span>
                                                    </div>
                                                    <div class="row_1">
                                                        <p class="our_price_display">
                                                            <span id="our_price_display">$123</span>
                                                            <!---->
                                                        </p>

                                                        <p id="add_to_cart" class="buttons_bottom_block">

                                                            <a class="exclusive button btn_add_cart" href="javascript:document.getElementById('add2cartbtn').click();"> <span>Add to cart  </span></a>
                                                            <input id="add2cartbtn" type="submit" name="Submit" value="Add to cart">
                                                            <!--show when "This product is no longer in stock with those attributes but is available with others"-->
                                                            <span class="exclusive hidden">
                                                                <span></span>
                                                                Add to cart
                                                            </span>
                                                        </p>
                                                        <!-- quantity wanted -->
                                                        <p id="quantity_wanted_p">

                                                            <input type="text" name="qty" id="quantity_wanted" class="text" value="1" size="2" maxlength="3">
                                                            <label>Quantity:</label>
                                                        </p>
                                                    </div>

                                                    <div class="other-prices">

                                                    </div>
                                                </div>

                                                <!-- Out of stock hook -->
                                                <p id="oosHook" class="hidden">

                                                    <script type="text/javascript">
                                                        $(function(){
                                                            $('a[href=#idTab5]').click(function(){
                                                                $('*[id^="idTab"]').addClass('block_hidden_only_for_screen');
                                                                $('div#idTab5').removeClass('block_hidden_only_for_screen');

                                                                $('ul#more_info_tabs a[href^="#idTab"]').removeClass('selected');
                                                                $('a[href="#idTab5"]').addClass('selected');
                                                            });
                                                        });
                                                    </script>
                                                </p><div id="product_comments_block_extra">

                                                    <div class="comments_advices">
                                                        <a class="open-comment-form" href=""><i class="icon-pencil"></i> Write your review</a>
                                                    </div>
                                                </div>
                                                <!--  /Module ProductComments -->
                                                <p></p>

                                            </form>
                                            <link rel="stylesheet" type="text/css" href="~/Content/themes/base/addsharethis.css">
                                            <div id="ShareDiv" class="addsharethis">
                                                <div class="addsharethisinner">
                                                    <script type="text/javascript">var switchTo5x=true;</script>
                                                    @*<script type="text/javascript" src="~/Scripts/buttons.js"></script>*@

                                                    @*<script type="text/javascript">stLight.options({publisher: "ea22d519-9f98-4018-99a9-5b5f1b100fa8", nativeCount:true });</script>*@

                                                    <span class="st_twitter_hcount sharebtn" displaytext="Tweet" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span><span class="stMainServices st-twitter-counter" style="background-image: url(http://w.sharethis.com/images/twitter_counter.png);">&nbsp;<img src="~/Content/themes/base/images/check-big.png" style="position: absolute; top: -7px; right: -7px; width: 19px; height: 19px; max-width: 19px; max-height: 19px; display: none;"></span><span class="stArrow"><span class="stButton_gradient stHBubble" style="display: inline-block;"><span class="stBubble_hcount">0</span></span></span></span></span></span>
                                                    <span class="st_googleplus_hcount" displaytext="Google +" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span><span class="stButton_gradient"><span class="chicklets googleplus">Google +</span><img src="~/Content/themes/base/images/check-big.png" style="position: absolute; top: -7px; right: -7px; width: 19px; height: 19px; max-width: 19px; max-height: 19px; display: none;"></span><span class="stArrow"><span class="stButton_gradient stHBubble" style="display: inline-block;"><span class="stBubble_hcount">0</span></span></span></span></span></span>
                                                    <span class="st_pinterest_hcount sharebtn" displaytext="Pinterest" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span><span class="stMainServices st-pinterest-counter" style="background-image: url(http://w.sharethis.com/images/pinterest_counter.png);">&nbsp;<img src="~/Content/themes/base/images/check-big.png" style="position: absolute; top: -7px; right: -7px; width: 19px; height: 19px; max-width: 19px; max-height: 19px; display: none;"></span><span class="stArrow"><span class="stButton_gradient stHBubble" style="display: inline-block;"><span class="stBubble_hcount">0</span></span></span></span></span></span>
                                                    <span class="st_facebook_hcount sharebtn" displaytext="Facebook" st_processed="yes"><span style="text-decoration:none;color:#000000;display:inline-block;cursor:pointer;" class="stButton"><span><span class="stMainServices st-facebook-counter" style="background-image: url(http://w.sharethis.com/images/facebook_counter.png);">&nbsp;<img src="~/Content/themes/base/images/check-big.png" style="position: absolute; top: -7px; right: -7px; width: 19px; height: 19px; max-width: 19px; max-height: 19px; display: none;"></span><span class="stArrow"><span class="stButton_gradient stHBubble" style="display: inline-block;"><span class="stBubble_hcount">0</span></span></span></span></span></span>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                var point_rate = 10;
                                                var point_value = 0.20;
                                                var points_in_cart = 0;
                                                var none_award = 1;

                                                $(document).ready(function() {
                                                    // Force color "button" to fire event change
                                                    $('#color_to_pick_list').click(function() {
                                                        $('#color_pick_hidden').triggerHandler('change');
                                                    });

                                                    // Catch all attribute changeent of the product
                                                    $('.product_attributes input, .product_attributes select').change(function() {
                                                        if (typeof(productPrice) == 'undefined' || typeof(productPriceWithoutReduction) == 'undefined')
                                                            return;

                                                        var points = Math.round(productPrice / point_rate);
                                                        var total_points = points_in_cart + points;
                                                        var voucher = total_points * point_value;
                                                        if (!none_award && productPriceWithoutReduction != productPrice) {
                                                            $('#loyalty').html("No reward points for this product because there's already a discount.");
                                                        } else if (!points) {
                                                            $('#loyalty').html("No reward points for this product.");
                                                        } else {
                                                            var content = "By buying this product you can collect up to <b><span id=\"loyalty_points\">"+points+'</span> ';
                                                            if (points > 1)
                                                                content += "loyalty points</b>. ";
                                                            else
                                                                content += "loyalty point</b>. ";

                                                            content += "Your cart will total <b><span id=\"total_loyalty_points\">"+total_points+'</span> ';
                                                            if (total_points > 1)
                                                                content += "points";
                                                            else
                                                                content += "point";

                                                            content += "</b> that can be converted into a voucher of ";
                                                            content += '<span id="loyalty_price">'+formatCurrency(voucher, currencyFormat, currencySign, currencyBlank)+'</span>.';
                                                            $('#loyalty').html(content);
                                                        }
                                                    });
                                                });
                                            </script>
                                            <p id="loyalty">
                                                <i class="icon-info-sign"></i>
                                                <em>
                                                    By buying this product you can collect up to <b>
                                                        <span id="loyalty_points">12</span>
                                                        loyalty points
                                                    </b>.
                                                    Your cart will total <b>
                                                        <span id="total_loyalty_points">12</span>
                                                        points
                                                    </b> that can be converted into a voucher of
                                                    <span id="loyalty_price">$2</span>.
                                                </em>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
                                <div class="clear"></div>

                                <div class="extra-box-product">
                                    <section class="page_product_box blockproductscategory">
                                        <h3>11 other products in the same category:<i class="icon-toggle icon-minus-sign-alt"></i></h3>
                                        <div id="block-category-slider" class="carusel-inner responsive  toggle_content">
                                            <div class="caroufredsel_wrapper" style="display: block; text-align: left; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 888px; height: 190px; margin: 0px; overflow: hidden;">
                                                <ul id="carouselproduct" class="carousel-ul" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 4144px; height: 190px; z-index: auto;">

                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=3&controller=product&id_lang=1" class="lnk_img" title="Ketyasas vtreasas®"><img src="~/Content/themes/base/images/17-medium_default.jpg" alt="Ketyasas vtreasas®"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=3&controller=product&id_lang=1" title="Ketyasas vtreasas®">Ketyasas...</a>
                                                        <p class="price_display">
                                                            <span class="price">$395</span>
                                                        </p>
                                                    </li>
                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&controller=product&id_lang=1" class="lnk_img" title="Yapuytasa®"><img src="~/Content/themes/base/images/25-medium_default.jpg" alt="Yapuytasa®"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&controller=product&id_lang=1" title="Yapuytasa®">Yapuytasa®</a>
                                                        <p class="price_display">
                                                            <span class="price">$929</span>
                                                        </p>
                                                    </li>
                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=5&controller=product&id_lang=1" class="lnk_img" title="Miuyas Laytsas"><img src="~/Content/themes/base/images/33-medium_default.jpg" alt="Miuyas Laytsas"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=5&controller=product&id_lang=1" title="Miuyas Laytsas">Miuyas Laytsas</a>
                                                        <p class="price_display">
                                                            <span class="price">$429</span>
                                                        </p>
                                                    </li>
                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=6&controller=product&id_lang=1" class="lnk_img" title="Btrease Vaers®"><img src="~/Content/themes/base/images/41-medium_default.jpg" alt="Btrease Vaers®"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=6&controller=product&id_lang=1" title="Btrease Vaers®">Btrease Vaers®</a>
                                                        <p class="price_display">
                                                            <span class="price">$429</span>
                                                        </p>
                                                    </li>
                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=7&controller=product&id_lang=1" class="lnk_img" title="Ketyasas vtreasas®"><img src="~/Content/themes/base/images/49-medium_default.jpg" alt="Ketyasas vtreasas®"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=7&controller=product&id_lang=1" title="Ketyasas vtreasas®">Ketyasas...</a>
                                                        <p class="price_display">
                                                            <span class="price">$632</span>
                                                        </p>
                                                    </li>
                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=8&controller=product&id_lang=1" class="lnk_img" title="Yapuytasa®"><img src="~/Content/themes/base/images/57-medium_default.jpg" alt="Yapuytasa®"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=8&controller=product&id_lang=1" title="Yapuytasa®">Yapuytasa®</a>
                                                        <p class="price_display">
                                                            <span class="price">$563</span>
                                                        </p>
                                                    </li>
                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=9&controller=product&id_lang=1" class="lnk_img" title="Miuyas Laytsas®"><img src="~/Content/themes/base/images/65-medium_default.jpg" alt="Miuyas Laytsas®"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=9&controller=product&id_lang=1" title="Miuyas Laytsas®">Miuyas Laytsas®</a>
                                                        <p class="price_display">
                                                            <span class="price">$779</span>
                                                        </p>
                                                    </li>
                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=10&controller=product&id_lang=1" class="lnk_img" title="Btrease Vaers®"><img src="~/Content/themes/base/images/73-medium_default.jpg" alt="Btrease Vaers®"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=10&controller=product&id_lang=1" title="Btrease Vaers®">Btrease Vaers®</a>
                                                        <p class="price_display">
                                                            <span class="price">$658</span>
                                                        </p>
                                                    </li>
                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=11&controller=product&id_lang=1" class="lnk_img" title="Ketyasas vtreasas®"><img src="~/Content/themes/base/images/81-medium_default.jpg" alt="Ketyasas vtreasas®"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=11&controller=product&id_lang=1" title="Ketyasas vtreasas®">Ketyasas...</a>
                                                        <p class="price_display">
                                                            <span class="price">$224</span>
                                                        </p>
                                                    </li>
                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=12&controller=product&id_lang=1" class="lnk_img" title="Yapuytasa®"><img src="~/Content/themes/base/images/89-medium_default.jpg" alt="Yapuytasa®"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=12&controller=product&id_lang=1" title="Yapuytasa®">Yapuytasa®</a>
                                                        <p class="price_display">
                                                            <span class="price">$329</span>
                                                        </p>
                                                    </li>
                                                    <li class="item" style="width: 128px;">
                                                        <div class="clearfix">
                                                            <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&controller=product&id_lang=1" class="lnk_img" title="Btrease Vaers®"><img src="~/Content/themes/base/images/9-medium_default.jpg" alt="Btrease Vaers®"></a>
                                                        </div>
                                                        <a class="product_link noSwipe" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&controller=product&id_lang=1" title="Btrease Vaers®">Btrease Vaers®</a>
                                                        <p class="price_display">
                                                            <span class="price">$629</span>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                            <a class="prev" id="cat_prev" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=1&controller=product&id_lang=1#" style="display: inline;"></a>
                                            <a class="next" id="cat_next" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=1&controller=product&id_lang=1#" style="display: inline;"></a>
                                        </div>
                                    </section>
                                    <script type="text/javascript">
                                        $("#carouselproduct").carouFredSel({
                                            debug: true,
                                            circular: true,
                                            infinite: true,
                                            responsive: true,
                                            align   : "center",
                                            width: '100%',
                                            auto	: {
                                                play	: 1,
                                                timeoutDuration :15000
                                            },

                                            items	: {

                                                visible: {
                                                    min: 2,
                                                    max: 6
                                                },
                                                width:167,

                                            },
                                            scroll	: {
                                                items	: 1,
                                                pauseOnHover:false
                                            },
                                            prev	: {
                                                button	: "#cat_prev"
                                            },
                                            next	: {
                                                button	: "#cat_next"
                                            },
                                            swipe: {
                                                onMouse: false,
                                                onTouch: true
                                            }
                                        },
                                        {
                                            classnames		: {
                                                selected		: "selected",
                                                hidden			: "hidden",
                                                disabled		: "disabled",
                                                paused			: "paused",
                                                stopped			: "stopped"
                                            },

                                        });
                                    </script>
                                    <script type="text/javascript">
                                        $("#carouselproductcross").carouFredSel({
                                            debug: true,
                                            circular: true,
                                            infinite: true,
                                            responsive: true,
                                            align   : "center",
                                            width: '100%',
                                            auto	: {
                                                play	: 1,
                                                timeoutDuration :20000
                                            },

                                            items	: {

                                                visible: {
                                                    min: 2,
                                                    max: 6
                                                },
                                                width:167,

                                            },
                                            scroll	: {
                                                items	: 1,
                                                pauseOnHover:false
                                            },
                                            prev	: {
                                                button	: "#cross_prev"
                                            },
                                            next	: {
                                                button	: "#cross_next"
                                            },
                                            swipe: {
                                                onMouse: true,
                                                onTouch: true
                                            }
                                        });
                                    </script>

                                    <section class="page_product_box toggle_frame more_info_inner">
                                        <h3 class="toggle">More info<i class="icon-toggle icon-minus-sign-alt"></i></h3>
                                        <div class="toggle_content">
                                            <p>There is nothing better than charming coffee aroma which flows into your sleepy morning. Everyday millions of people enjoy their lives by drinking a fragrant dark morning drink. The origin of coffee is covered with mystery. Thousands of legends have been told, hundreds of gods have been created and millions of minds have been lured with the coffee mania. We are happy to be among them. Famous brands often lose their reputation due to the bad servicing or shipping problems, but we work hard to make you feel comfortable while being a guest at our shop. We value every single client because giving you joy and happiness is why we are here.</p>
                                        </div>
                                    </section>

                                    <section class="page_product_box toggle_frame datasheet">
                                        <h3 class="toggle">Data sheet<i class="icon-toggle icon-minus-sign-alt"></i></h3>
                                        <div class="toggle_content">
                                            <ul class="bullet">
                                                <li><i class="icon-angle-right"></i> <span>Height - </span> 100</li>
                                                <li><i class="icon-angle-right"></i> <span>Width - </span> 100</li>
                                                <li><i class="icon-angle-right"></i> <span>Weight - </span> 100</li>
                                            </ul>
                                        </div>
                                    </section>
                                    <section class="page_product_box toggle_frame more_info_inner4">
                                        <h3 class="toggle">Accessories<i class="icon-toggle icon-minus-sign-alt"></i></h3>
                                        <ul id="idTab4" class="toggle_content">
                                            <li class="ajax_block_product bordercolor first_item product_accessories_description">
                                                <div class="accessories_desc bordercolor">
                                                    <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&controller=product&id_lang=1" title="" class="accessory_image product_img_link bordercolor">
                                                        <img src="~/Content/themes/base/images/9-medium_default.jpg" alt="">
                                                    </a>
                                                    <h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&controller=product&id_lang=1">Btrease Vaers®</a></h5>
                                                    <p class="product_descr"> There is nothing better than charming coffee aroma which flows into your sleepy morning. Everyday millions of people enjoy their lives by drinking a fragrant dark...</p>
                                                </div>
                                                <div class="accessories_price">
                                                    <span class="price">$629</span>
                                                    <a class="exclusive button ajax_add_to_cart_button btn_add_cart" href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart&qty=1&id_product=2&token=ffc916940df8072ed4261aac6c53678d&add=" rel="ajax_id_product_2" title="Add to cart"><span>Add to cart</span></a>

                                                </div>
                                            </li>
                                            <li class="ajax_block_product bordercolor item product_accessories_description">
                                                <div class="accessories_desc bordercolor">
                                                    <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=3&controller=product&id_lang=1" title="" class="accessory_image product_img_link bordercolor">
                                                        <img src="~/Content/themes/base/images/17-medium_default.jpg" alt="">
                                                    </a>
                                                    <h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=3&controller=product&id_lang=1">Ketyasas vtreasas®</a></h5>
                                                    <p class="product_descr"> There is nothing better than charming coffee aroma which flows into your sleepy morning. Everyday millions of people enjoy their lives by drinking a fragrant dark...</p>
                                                </div>
                                                <div class="accessories_price">
                                                    <span class="price">$395</span>
                                                    <a class="exclusive button ajax_add_to_cart_button btn_add_cart" href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart&qty=1&id_product=3&token=ffc916940df8072ed4261aac6c53678d&add=" rel="ajax_id_product_3" title="Add to cart"><span>Add to cart</span></a>

                                                </div>
                                            </li>
                                            <li class="ajax_block_product bordercolor last_item product_accessories_description">
                                                <div class="accessories_desc bordercolor">
                                                    <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&controller=product&id_lang=1" title="" class="accessory_image product_img_link bordercolor">
                                                        <img src="~/Content/themes/base/images/25-medium_default.jpg" alt="">
                                                    </a>
                                                    <h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&controller=product&id_lang=1">Yapuytasa®</a></h5>
                                                    <p class="product_descr"> There is nothing better than charming coffee aroma which flows into your sleepy morning. Everyday millions of people enjoy their lives by drinking a fragrant dark...</p>
                                                </div>
                                                <div class="accessories_price">
                                                    <span class="price">$929</span>
                                                    <a class="exclusive button ajax_add_to_cart_button btn_add_cart" href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=cart&qty=1&id_product=4&token=ffc916940df8072ed4261aac6c53678d&add=" rel="ajax_id_product_4" title="Add to cart"><span>Add to cart</span></a>

                                                </div>
                                            </li>
                                        </ul>
                                    </section>

                                    <section id="last_page_product" class="page_product_box toggle_frame">
                                        <h3 href="#idTab5" class="idTabHrefShort">Comments<i class="icon-toggle icon-minus-sign-alt"></i></h3>
                                        <div id="more_info_sheets" class="toggle_content toggle_content_comment">
                                            <script type="text/javascript">
                                                var productcomments_controller_url = 'http://livedemo00.template-help.com/prestashop_46849/index.php?fc=module&module=productcomments&controller=default&id_lang=1';
                                                var confirm_report_message = "Are you sure you want report this comment?";
                                                var secure_key = "2400c0914b7eb5e2e31d41a0e5a96c39";
                                                var productcomments_url_rewrite = '0';
                                            </script>
                                            <div id="idTab5">
                                                <div id="product_comments_block_tab">
                                                    <p class="align_center">
                                                        <a id="new_comment_tab_btn" class="open-comment-form" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=1&controller=product&id_lang=1#new_comment_form">Be the first to write your review !</a>
                                                    </p>

                                                </div>
                                            </div>
                                            <!-- Fancybox -->
                                            <div class="hidden">
                                                <div id="new_comment_form">
                                                    <form action="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=1&controller=product&id_lang=1#">
                                                        <h1 class="title"><span>Write your review</span></h1>
                                                        <div class="row-fluid">
                                                            <div class="span6 titled_box">
                                                                <div class="product clearfix">
                                                                    <h2 class="product_name"><span>Miuyas Laytsas®</span></h2>
                                                                    <img src="~/Content/themes/base/images/1-small_default.jpg" alt="Miuyas Laytsas®">
                                                                    <div class="product_desc">
                                                                        <p>There is nothing better than charming coffee aroma which flows into your sleepy morning. Everyday millions of people enjoy their lives by drinking a fragrant dark morning drink. The origin of coffee is covered with mystery. Thousands of legends have been told, hundreds of gods have been created and millions of minds have been lured with the coffee mania.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="span6 titled_box">
                                                                <div class="new_comment_form_content">
                                                                    <h2><span>Write your review</span></h2>

                                                                    <div id="new_comment_form_error" class="error hidden">
                                                                        <ul></ul>
                                                                    </div>

                                                                    <ul id="criterions_list">
                                                                        <li>
                                                                            <label>Quality:</label>
                                                                            <div class="star_content">
                                                                                <input type="hidden" name="criterion[1]" value="3"><div class="cancel"><a title="Cancel Rating"></a></div><div class="star star_on"><a title="1">1</a></div>
                                                                                <div class="star star_on"><a title="2">2</a></div>
                                                                                <div class="star star_on"><a title="3">3</a></div>
                                                                                <div class="star"><a title="4">4</a></div>
                                                                                <div class="star"><a title="5">5</a></div>
                                                                            </div>
                                                                            <div class="clearfix"></div>
                                                                        </li>
                                                                    </ul>

                                                                    <label for="comment_title">Title: <sup class="required">*</sup></label>
                                                                    <input id="comment_title" name="title" type="text" value="">

                                                                    <label for="content">Comment: <sup class="required">*</sup></label>
                                                                    <textarea id="content" name="content"></textarea>

                                                                    <label>Your name: <sup class="required">*</sup></label>
                                                                    <input id="commentCustomerName" name="customer_name" type="text" value="">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="new_comment_form_footer" class=" sendfrend_footer">
                                                            <input id="id_product_comment_send" name="id_product" type="hidden" value="1">
                                                            <p class="fl required"><sup>*</sup> Required fields</p>
                                                            <p class="fr ">
                                                                <button id="submitNewMessage" class="btn btn-inverse" name="submitMessage" type="submit">Send</button>
                                                                <input class="btn btn-inverse" type="button" value="Cancel" onclick="$.fancybox.close();">
                                                            </p>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </form><!-- /end new_comment_form_content -->
                                                </div>
                                            </div>
                                            <!-- End fancybox -->
                                        </div>
                                    </section>
                                </div>

                            </div>
                            <!-- Right -->
                            <aside id="right_column" class="span3 column right_home">

                                <!-- MODULE Block best sellers -->
                                <section id="blockbestsellers" class="block products_block column_box">
                                    <h4><span>Top sellers</span><i class="column_icon_toggle icon-plus-sign"></i></h4>
                                    <div class="block_content toggle_content">
                                        <ul>
                                            <li class="clearfix shop_box">
                                                <a class="products_block_img" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&controller=product&id_lang=1" title=""><img src="~/Content/themes/base/images/9-small_default.jpg" alt=""></a>
                                                <div>
                                                    <h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&controller=product&id_lang=1" title="Btrease Vaers®">Btrease Vaers®</a></h5>
                                                    <p class="product_descr"> There is nothing better than charming coffee aroma which flows into...</p>
                                                </div>
                                            </li>
                                            <li class="clearfix shop_box">
                                                <a class="products_block_img" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&controller=product&id_lang=1" title=""><img src="~/Content/themes/base/images/25-small_default.jpg" alt=""></a>
                                                <div>
                                                    <h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&controller=product&id_lang=1" title="Yapuytasa®">Yapuytasa®</a></h5>
                                                    <p class="product_descr"> There is nothing better than charming coffee aroma which flows into...</p>
                                                </div>
                                            </li>
                                            <li class="clearfix shop_box">
                                                <a class="products_block_img" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=6&controller=product&id_lang=1" title=""><img src="~/Content/themes/base/images/41-small_default.jpg" alt=""></a>
                                                <div>
                                                    <h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=6&controller=product&id_lang=1" title="Btrease Vaers®">Btrease Vaers®</a></h5>
                                                    <p class="product_descr"> There is nothing better than charming coffee aroma which flows into...</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=best-sales" title="All best sellers" class="button_large">All best sellers</a>
                                    </div>
                                </section>
                                <!-- MODULE Block new products -->
                                <section id="new-products_block_right" class="block products_block column_box">
                                    <h4 class="title_block"><span>New products</span> <i class="column_icon_toggle icon-plus-sign"></i></h4>
                                    <div class="block_content toggle_content">
                                        <ul class="products">
                                            <li class="shop_box clearfix first_item">

                                                <a class="products_block_img" href="~/Content/themes/base/images/product_details.htm" title=""><img src="~/Content/themes/base/images/1-medium_default.jpg" alt=""></a>

                                                <div>
                                                    <h5 class="s_title_block">
                                                        <a class="product_link" href="~/Content/themes/base/images/product_details.htm" title="Miuyas Laytsas®">Miuyas Laytsas®</a>
                                                    </h5>
                                                    <p class="product_desc">There is nothing better than charming coffee aroma which...</p>
                                                    <a href="~/Content/themes/base/images/product_details.htm" class="lnk_more">Read more <i class="icon-caret-right"></i></a>
                                                </div>
                                            </li>
                                            <li class="shop_box clearfix item">

                                                <a class="products_block_img" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&controller=product&id_lang=1" title=""><img src="~/Content/themes/base/images/9-medium_default.jpg" alt=""></a>

                                                <div>
                                                    <h5 class="s_title_block">
                                                        <a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&controller=product&id_lang=1" title="Btrease Vaers®">Btrease Vaers®</a>
                                                    </h5>
                                                    <p class="product_desc">There is nothing better than charming coffee aroma which...</p>
                                                    <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=2&controller=product&id_lang=1" class="lnk_more">Read more <i class="icon-caret-right"></i></a>
                                                </div>
                                            </li>
                                            <li class="shop_box clearfix item">

                                                <a class="products_block_img" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=3&controller=product&id_lang=1" title=""><img src="~/Content/themes/base/images/17-medium_default.jpg" alt=""></a>

                                                <div>
                                                    <h5 class="s_title_block">
                                                        <a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=3&controller=product&id_lang=1" title="Ketyasas vtreasas®">Ketyasas vtreasas®</a>
                                                    </h5>
                                                    <p class="product_desc">There is nothing better than charming coffee aroma which...</p>
                                                    <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=3&controller=product&id_lang=1" class="lnk_more">Read more <i class="icon-caret-right"></i></a>
                                                </div>
                                            </li>
                                            <li class="shop_box clearfix item">

                                                <a class="products_block_img" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&controller=product&id_lang=1" title=""><img src="~/Content/themes/base/images/25-medium_default.jpg" alt=""></a>

                                                <div>
                                                    <h5 class="s_title_block">
                                                        <a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&controller=product&id_lang=1" title="Yapuytasa®">Yapuytasa®</a>
                                                    </h5>
                                                    <p class="product_desc">There is nothing better than charming coffee aroma which...</p>
                                                    <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=4&controller=product&id_lang=1" class="lnk_more">Read more <i class="icon-caret-right"></i></a>
                                                </div>
                                            </li>
                                            <li class="shop_box clearfix last_item">

                                                <a class="products_block_img" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=5&controller=product&id_lang=1" title=""><img src="~/Content/themes/base/images/33-medium_default.jpg" alt=""></a>

                                                <div>
                                                    <h5 class="s_title_block">
                                                        <a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=5&controller=product&id_lang=1" title="Miuyas Laytsas">Miuyas Laytsas</a>
                                                    </h5>
                                                    <p class="product_desc">There is nothing better than charming coffee aroma which...</p>
                                                    <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=5&controller=product&id_lang=1" class="lnk_more">Read more <i class="icon-caret-right"></i></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <a href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=new-products" title="All new products" class="button_large">All new products</a>
                                    </div>
                                </section>
                                <!-- /MODULE Block new products -->
                                <!-- MODULE Block specials -->
                                <section id="specials" class="block products_block column_box">
                                    <h4><span>Specials</span><i class="column_icon_toggle icon-plus-sign"></i></h4>
                                    <div class="block_content toggle_content">
                                        <ul>
                                            <li class="shop_box  clearfix">
                                                <a class="products_block_img" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=9&controller=product&id_lang=1"><img src="~/Content/themes/base/images/65-small_default.jpg" alt="" title="Miuyas Laytsas®"></a>
                                                <div>
                                                    <h5><a class="product_link" href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_product=9&controller=product&id_lang=1" title="Miuyas Laytsas®">Miuyas Laytsas®</a></h5>
                                                    <p class="product_desc"> There is nothing better than...</p>
                                                    <span class="price">$779</span>
                                                    <span class="reduction price">(-5%)</span>

                                                    <span class="price-discount price">$820</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <a class="button_large" href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=prices-drop" title="All specials">All specials</a>
                                    </div>
                                </section>
                                <!-- /MODULE Block specials -->
                                <!-- Block CMS module -->
                                <section class="block blockcms column_box">
                                    <h4><span>Information</span><i class="column_icon_toggle icon-plus-sign"></i></h4>
                                    <ul class="store_list toggle_content clearfix">
                                        <li><a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_cms=1&controller=cms&id_lang=1" title="Delivery"><i class="icon-ok"></i>Delivery</a></li>
                                        <li><a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_cms=2&controller=cms&id_lang=1" title="Legal Notice"><i class="icon-ok"></i>Legal Notice</a></li>
                                        <li><a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_cms=3&controller=cms&id_lang=1" title="Terms and conditions of use"><i class="icon-ok"></i>Terms and conditions of use</a></li>
                                        <li><a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_cms=4&controller=cms&id_lang=1" title="About us"><i class="icon-ok"></i>About us</a></li>
                                        <li><a href="http://livedemo00.template-help.com/prestashop_46849/index.php?id_cms=5&controller=cms&id_lang=1" title="Secure payment"><i class="icon-ok"></i>Secure payment</a></li>
                                        <li><a href="http://livedemo00.template-help.com/prestashop_46849/index.php?controller=stores" title="Our stores"><i class="icon-ok"></i>Our stores</a></li>
                                    </ul>
                                </section>
                                <!-- /Block CMS module -->
                                <!-- Block links module -->
                                <section id="links_block_left" class="block column_box">
                                    <h4>
                                        <span>
                                            Block link
                                        </span>
                                        <i class="column_icon_toggle icon-plus-sign"></i>
                                    </h4>
                                    <ul class="block_content store_list toggle_content">

                                        <li><a href="http://facebook.com/"><i class="icon-ok"></i>Facebook Link</a></li>

                                        <li><a href="http://blog.templatemonster.com/"><i class="icon-ok"></i>Our Blog</a></li>

                                        <li><a href="http://twitter.com/"><i class="icon-ok"></i>Twitter Link</a></li>
                                    </ul>
                                </section>
                                <!-- /Block links module -->

                            </aside>
                        </div>
                    </div>
                </div>
                
