<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="FootyStreetEntities" connectionString="metadata=res://*/FootyStreetPortal.FootyStreet.csdl|res://*/FootyStreetPortal.FootyStreet.ssdl|res://*/FootyStreetPortal.FootyStreet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USHYDVIRAJU9;initial catalog=FootyStreet;persist security info=True;user id=sa;password=deloitte@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FSEntities" connectionString="metadata=res://*/FootyStreet.csdl|res://*/FootyStreet.ssdl|res://*/FootyStreet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USHYDVIRAJU9;initial catalog=FootyStreet;persist security info=True;user id=sa;password=deloitte@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IRepository" type="Ky.Hbe.Framework.Data.IRepository`1, Ky.Hbe.Framework.Data" />
    <alias alias="DefaultRepository" type="Ky.Hbe.Framework.Data.DefaultRepository`2, Ky.Hbe.Framework.Data" />
  </unity>
</configuration>