<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 " lang="en"> <![endif]--><!--[if IE 7]><html class="no-js lt-ie9 lt-ie8 ie7" lang="en"> <![endif]--><!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"> <![endif]--><!--[if gt IE 8]> <html class="no-js ie9" lang="en"> <![endif]-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>India Footy Shop</title>
    <meta content="IE=10.000" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="description" content="Shop powered by PrestaShop">
    <meta name="keywords" content="shop, prestashop">
    <meta name="GENERATOR" content="MSHTML 10.00.9200.16721">
    <meta name="robots" content="index,follow">
    <meta name="author" content="Prestashop 1.5">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="/prestashop_46849/img/favicon.ico?1380877751"
          rel="icon" type="image/vnd.microsoft.icon">
    <link href="/prestashop_46849/img/favicon.ico?1380877751"
          rel="shortcut icon" type="image/x-icon">
    <link title="Ispase" href="#!" rel="alternate" type="application/rss+xml">
    <link href="~/Content/themes/base/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/themes/base/responsive.css" rel="stylesheet" />
    <link href="~/Content/themes/base/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/themes/base/font.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Quicksand:700,400" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Quattrocento+Sans" rel="stylesheet" type="text/css">
    <link href="~/Content/themes/base/f5f9086ce399bf4963212f8e1d17cd1f_all.css" rel="stylesheet" />
    <link href="~/Content/themes/base/320.css" rel="stylesheet" />
    <link href="~/Content/themes/base/480.css" rel="stylesheet" />
    <link href="~/Content/themes/base/768.css" rel="stylesheet" />

    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script async="" src="//ajax.cloudflare.com/cdn-cgi/nexp/acv=616370821/cloudflare.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        window.__CF = window.__CF || {}; window.__CF.AJS = { "abetterbrowser": { "ie": "7" }, "ga_key": { "ua": "UA-7078796-5", "ga_bs": "2" } };
        //]]>
    </script>

    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script src="~/Scripts/plugins/jquery.cookie.js"></script>
    <script src="~/Scripts/plugins/363fdf624d4b64c9c7488fe5b4cdeed8.js"></script>
    <style type="text/css">
        .cf-hidden {
            display: none;
        }

        .cf-invisible {
            visibility: hidden;
        }
    </style>
    <script src="~/Scripts/plugins/bootstrap.js"></script>
    <script src="~/Scripts/plugins/plugins.js"></script>
    <script src="~/Scripts/plugins/footable.js"></script>
    <script src="~/Scripts/plugins/jquery.core-ui-select.js"></script>
    <script src="~/Scripts/plugins/jquery.scrollpane.js"></script>
    <script src="~/Scripts/plugins/jquery.uniform.js"></script>
    <script src="~/Scripts/plugins/jquery.mousewheel.js"></script>
    <script src="~/Scripts/plugins/mainscript.js"></script>

    <script src="~/Scripts/modernizr-2.5.3.min.js"></script>
    <script src="~/Scripts/plugins/jquery.carouFredSel-6.2.1.js"></script>
    <script src="~/Scripts/plugins/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript">
        //<![CDATA[
        //  window.__CF = window.__CF || {}; window.__CF.AJS = { "abetterbrowser": { "ie": "7" }, "ga_key": { "ua": "UA-7078796-5", "ga_bs": "2" } };
        //]]>
    </script>

    <script type="text/javascript">
        //<![CDATA[
        //try { if (!window.CloudFlare) { var CloudFlare = [{ verbose: 0, p: 0, byc: 0, owlid: "cf", bag2: 1, mirage2: 0, oracle: 0, paths: { cloudflare: "/cdn-cgi/nexp/abv=2980380653/" }, atok: "bb2584661c0d3566e72e97d0c75f2581", petok: "98ff26eacc32523c9f2905f2a4358079-1383227178-1800", zone: "template-help.com", rocket: "0", apps: { "abetterbrowser": { "ie": "7" }, "ga_key": { "ua": "UA-7078796-5", "ga_bs": "2" } } }]; var a = document.createElement("script"), b = document.getElementsByTagName("script")[0]; a.async = !0; a.src = "//ajax.cloudflare.com/cdn-cgi/nexp/abv=616370820/cloudflare.min.js"; b.parentNode.insertBefore(a, b); } } catch (e) { };
        ////]]>
        //if (navigator.userAgent.match(/Android/i)) {
        //    var viewport = document.querySelector("meta[name=viewport]");
        //    viewport.setAttribute('content', 'initial-scale=1.0,maximum-scale=1.0,user-scalable=0,width=device-width,height=device-height');
        //}
        //if (navigator.userAgent.match(/Android/i)) {
        //    window.scrollTo(0, 1);
        //}
    </script>

    <script type="text/javascript">
        //    var NREUMQ = NREUMQ || []; NREUMQ.push(["mark", "firstbyte", new Date().getTime()]);
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#slider').nivoSlider({
                effect: 'random',
                slices: 15,
                boxCols: 8,
                boxRows: 4,
                animSpeed: 500,
                pauseTime: 7000,
                startSlide: 0,
                directionNav: false,
                controlNav: true,
                controlNavThumbs: false,
                pauseOnHover: true,
                manualAdvance: false,
                prevText: 'Prev',
                nextText: 'Next',
                randomStart: false
            });
            //$('#countries_2 .countries_ul li span').each(function () {
            //    var h = $(this).html();
            //    var index = h.indexOf(' ');
            //    if (index == -1) {
            //        index = h.length;
            //    }
            //    $(this).html('<span class="firstWord">' + h.substring(index, h.length) + '</span>' + h.substring(0, index));
            //});
        });
    </script>

    <script type="text/javascript">
        //var baseDir = 'http://footystreet.com/';
        //var baseUri = 'http://footystreet.com/';
        //var static_token = 'ffc916940df8072ed4261aac6c53678d';
        //var token = '7b9cb5b426a8a01a85e6fdaad265476c';
        //var priceDisplayPrecision = 0;
        //var priceDisplayMethod = 1;
        //var roundMode = 2;
    </script>

    <script type="text/javascript">
        // <![CDATA[

        // PrestaShop internal settings
        var currencySign = '$';
        var currencyRate = '1';
        var currencyFormat = '1';
        var currencyBlank = '0';
        var taxRate = 0;
        var jqZoomEnabled = true;

        //JS Hook
        var oosHookJsCodeFunctions = new Array();

        // Parameters
        var id_product = '1';
        var productHasAttributes = false;
        var quantitiesDisplayAllowed = true;
        var quantityAvailable = 100;
        var allowBuyWhenOutOfStock = false;
        var availableNowValue = '';
        var availableLaterValue = '';
        var productPriceTaxExcluded = 128.96 - 0.000000;
        var productBasePriceTaxExcluded = 128.960000 - 0.000000;
        var reduction_percent = 5;
        var reduction_price = 0;
        var specific_price = -1.000000;
        var product_specific_price = new Array();
        product_specific_price['id_specific_price'] = '1';
        product_specific_price['id_specific_price_rule'] = '0';
        product_specific_price['id_cart'] = '0';
        product_specific_price['id_product'] = '1';
        product_specific_price['id_shop'] = '1';
        product_specific_price['id_shop_group'] = '0';
        product_specific_price['id_currency'] = '0';
        product_specific_price['id_country'] = '0';
        product_specific_price['id_group'] = '0';
        product_specific_price['id_customer'] = '0';
        product_specific_price['id_product_attribute'] = '0';
        product_specific_price['price'] = '-1.000000';
        product_specific_price['from_quantity'] = '1';
        product_specific_price['reduction'] = '0.050000';
        product_specific_price['reduction_type'] = 'percentage';
        product_specific_price['from'] = '0000-00-00 00:00:00';
        product_specific_price['to'] = '0000-00-00 00:00:00';
        product_specific_price['score'] = '48';
        var specific_currency = false;
        var group_reduction = '1';
        var default_eco_tax = 0.000000;
        var ecotaxTax_rate = 0;
        var currentDate = '2013-11-04 12:18:00';
        var maxQuantityToAllowDisplayOfLastQuantityMessage = 3;
        var noTaxForThisProduct = true;
        var displayPrice = 1;
        var productReference = '';
        var productAvailableForOrder = '1';
        var productShowPrice = '1';
        var productUnitPriceRatio = '0.000000';
        var idDefaultImage = 1;
        var stock_management = 1;


        var productPriceWithoutReduction = '128.96';
        var productPrice = '122.51';

        // Customizable field
        var img_ps_dir = '';
        var customizationFields = new Array();
        customizationFields[0] = new Array();
        customizationFields[0][0] = 'img0';
        customizationFields[0][1] = 0;

        // Images
        var img_prod_dir = '';
        var combinationImages = new Array();


        combinationImages[0] = new Array();
        combinationImages[0][0] = 1;
        combinationImages[0][1] = 2;
        combinationImages[0][2] = 3;
        combinationImages[0][3] = 4;
        combinationImages[0][4] = 5;
        combinationImages[0][5] = 6;
        combinationImages[0][6] = 7;
        combinationImages[0][7] = 8;

        // Translations
        var doesntExist = 'This combination does not exist for this product. Please select another combination.';
        var doesntExistNoMore = 'This product is no longer in stock';
        var doesntExistNoMoreBut = 'with those attributes but is available with others.';
        var uploading_in_progress = 'Uploading in progress, please be patient.';
        var fieldRequired = 'Please fill in all the required fields before saving your customization.';


        // Combinations attributes informations
        var attributesCombinations = new Array();
        //]]>
    </script>



    @*    <script src="~/Scripts/ga.js"></script>*@

    @*<script type="text/javascript">if (!NREUMQ.f) { NREUMQ.f = function () { NREUMQ.push(["load", new Date().getTime()]); var e = document.createElement("script"); e.type = "text/javascript"; e.src = (("http:" === document.location.protocol) ? "http:" : "https:") + "//" + "js-agent.newrelic.com/nr-100.js"; document.body.appendChild(e); if (NREUMQ.a) NREUMQ.a(); }; NREUMQ.a = window.onload; window.onload = NREUMQ.f; }; NREUMQ.push(["nrfj", "beacon-1.newrelic.com", "72d7dcce33", "1388850", "ZV1TZ0FTVkFVWkwKXlwXZEFaHRIdXVdcBkkcSFlD", 0, 1580, new Date().getTime(), "", "", "", "", ""]);</script>*@


</head>
<!--[if lt IE 9]><div style='clear:both;height:59px;padding:0 15px 0 15px;position:relative;z-index:10000;text-align:center;'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." /></a></div><![endif]-->

<body class="lang_en" id="index">
    <div id="wrapp">
        <div class="row-top">
            <div id="wrapp_2">
                <!--Header Begin-->
                <header class="container " id="header">
                    <div id="header-inner">
                        <a title="India Footy Shop" id="header_logo" href="@Url.Action("Index","Home")">
                            <img width="483" height="178" class="logo" alt="India Footy Shop" src="~/Content/themes/base/images/FootyLogo.jpg">
                        </a>
                        <!-- Block languages module -->
                        @*<section class="header-box header-button" id="languages_block_top">
                                <div id="countries_2">
                                    <p class="selected_language icon_wrapp">
                                        en
                                        <i class="arrow_header_top icon-angle-down"></i>
                                    </p>
                                    <ul class="countries_ul list_header" id="first-languages">
                                        <li class="selected">
                                            <img width="26" height="16" alt="en" src="~/Content/themes/base/images/1.jpg"><span>
                                                English
                                                (United States)
                                            </span>
                                        </li>
                                        <li>
                                            <a title="Français (French)" href="#">
                                                <img width="26" height="16" alt="fr"
                                                     src="~/Content/themes/base/images/2.jpg"><span>Français (French)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Español (Spanish)" href="#">
                                                <img width="26" height="16" alt="es"
                                                     src="~/Content/themes/base/images/3.jpg"><span>Español (Spanish)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Deutsch (German)" href="#">
                                                <img width="26" height="16" alt="de"
                                                     src="~/Content/themes/base/images/4.jpg"><span>Deutsch (German)</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Russian" href="#">
                                                <img width="26" height="16" alt="ru"
                                                     src="~/Content/themes/base/images/5.jpg"><span>Russian</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </section>*@

                        <!-- /Block languages module -->
                        <!-- Block currencies module -->
                        @*<section class="header-box header-button" id="currencies_block_top">
                                <form id="setCurrency" action="/prestashop_46849/" method="post">
                                    <p class="inner-carrencies icon_wrapp">
                                        <input name="id_currency" id="id_currency"
                                               type="hidden">		 <input name="SubmitCurrency" type="hidden">        $         <i class="arrow_header_top icon-angle-down"></i>
                                    </p>
                                    <ul class="currencies_ul list_header" id="first-currencies">
                                        <li class="selected"><span>$</span>Dollar                				 </li>
                                        <li>
                                            <a title="Euro"
                                               href="javascript:setCurrency(2);"><span>€</span>Euro</a>
                                        </li>
                                    </ul>
                                </form>
                            </section>*@
                        <!-- /Block currencies module --> <!-- Block permanent links module HEADER -->
                        <section class="header-box blockpermanentlinks-header">
                            <ul id="header_links">
                                <li>
                                    <a class="header_links_home" href="#">
                                        <i class="icon-home"></i>
                                    </a>
                                </li>
                                <li id="header_link_contact">
                                    <a title="contact" class="header_links_contact"
                                       href="#">contact</a>
                                </li>
                                <li id="header_link_sitemap">
                                    <a title="sitemap" class="header_links_sitemap"
                                       href="#">sitemap</a>
                                </li>
                                <li id="header_link_bookmark">
                                    <script type="text/javascript">writeBookmarkLink('http://footystreet.com/', 'FootyStreet', 'bookmark');</script>
                                </li>
                            </ul>
                            <div class="mobile-link-top header-button">
                                <h4 class="icon_wrapp"><span class="title-hed"></span><i class="arrow_header_top_menu arrow_header_top icon-reorder"></i></h4>
                                <ul class="list_header" id="mobilelink">
                                    <li><a class="header_links_home" href="#">home</a></li>
                                    <li id="header_link_contact">
                                        <a title="contact" class="header_links_contact"
                                           href="#">contact</a>
                                    </li>
                                    <li id="header_link_sitemap">
                                        <a title="sitemap" class="header_links_sitemap"
                                           href="#">sitemap</a>
                                    </li>
                                    <li id="header_link_bookmark">
                                        <script type="text/javascript">writeBookmarkLink('http://footystreet.com/', 'FootyStreet', 'bookmark');</script>
                                    </li>
                                </ul>
                            </div>
                        </section><!-- /Block permanent links module HEADER --> <!-- block seach mobile --> <!-- Block search module TOP -->
                        <section class="header-box" id="search_block_top">
                            <form id="searchbox" action="#"
                                  method="get">
                                <p>
                                    <label for="search_query_top">Search</label>			 <input name="controller"
                                                                                                 type="hidden" value="search">			 <input name="orderby" type="hidden" value="position">
                                    <input name="orderway" type="hidden" value="desc">			 <input name="search_query"
                                                                                                       class="search_query" id="search_query_top" type="text"><a href="javascript:document.getElementById('searchbox').submit();"><span>Search</span></a>
                                </p>
                            </form>
                        </section>
                        <script type="text/javascript">
                            // <![CDATA[
                            function tryToCloseInstantSearch() {
                                if ($('#old_center_column').length > 0) {
                                    $('#center_column').remove();
                                    $('#old_center_column').attr('id', 'center_column');
                                    $('body').removeClass('instant_search');
                                    $('#slider .nivo-main-image').trigger('mouseout');
                                    $('#center_column').show();
                                    return false;
                                }
                            }

                            //instantSearchQueries = new Array();
                            //function stopInstantSearchQueries() {
                            //    for (i = 0; i < instantSearchQueries.length; i++) {
                            //        instantSearchQueries[i].abort();
                            //    }
                            //    instantSearchQueries = new Array();
                            //}

                            //$("#search_query_top").keyup(function () {
                            //    if ($(this).val().length > 0) {
                            //        stopInstantSearchQueries();
                            //        instantSearchQuery = $.ajax({
                            //            url: '',
                            //            data: {
                            //                instantSearch: 1,
                            //                id_lang: 1,
                            //                q: $(this).val()
                            //            },
                            //            dataType: 'html',
                            //            type: 'POST',
                            //            success: function (data) {
                            //                if ($("#search_query_top").val().length > 0) {
                            //                    tryToCloseInstantSearch();
                            //                    $('#center_column').attr('id', 'old_center_column');
                            //                    $('#old_center_column').after('<div id="center_column" class="instant ' + $('#old_center_column').attr('class') + '">' + data + '</div>');
                            //                    $('#center_column').find('ul#product_list').removeClass('grid').addClass('list');
                            //                    $('body').addClass('instant_search');
                            //                    $('#old_center_column').hide();
                            //                    $('#slider .nivo-main-image').trigger('mouseenter');
                            //                    $("#instant_search_results a.close").click(function () {
                            //                        $("#search_query_top").val('');
                            //                        $('body').removeClass('instant_search');
                            //                        $('#slider .nivo-main-image').trigger('mouseout');
                            //                        return tryToCloseInstantSearch();
                            //                    });
                            //                    return false;
                            //                }
                            //                else
                            //                    tryToCloseInstantSearch();
                            //            }
                            //        });
                            //        instantSearchQueries.push(instantSearchQuery);
                            //    }
                            //    else
                            //        tryToCloseInstantSearch();
                            //});
                            // ]]>
                        </script>

                        <script type="text/javascript">
                            // <![CDATA[
                            $('document').ready(function () {
                                //$("#search_query_top")
                                //    .autocomplete(
                                //        '', {
                                //            minChars: 3,
                                //            max: 10,
                                //            width: 300,
                                //            selectFirst: false,
                                //            scroll: false,
                                //            dataType: "json",
                                //            formatItem: function (data, i, max, value, term) {
                                //                return value;
                                //            },
                                //            parse: function (data) {
                                //                var mytab = new Array();
                                //                for (var i = 0; i < data.length; i++)
                                //                    mytab[mytab.length] = { data: data[i], value: data[i].cname + ' > ' + data[i].pname };
                                //                return mytab;
                                //            },
                                //            extraParams: {
                                //                ajaxSearch: 1,
                                //                id_lang: 1
                                //            }
                                //        }
                                //    )
                                //    .result(function (event, data, formatted) {
                                //        $('#search_query_top').val(data.pname);
                                //        document.location.href = data.product_link;
                                //    })
                            });
                            // ]]>
                        </script>
                        <!-- /Block search module TOP --> <!-- Block user information module HEADER -->
                        <section class="blockuserinfo header-box">
                            <a title="Login" class="login" href="#"
                               rel="tooltip" data-original-title="first tooltip"
                               data-placement="bottom">
                                <span>
                                    <i class="icon-lock"></i>
                                </span>

                            </a>
                            
                        </section>
                        <section class="blockuserinfo-cart header-box"
                                           id="header_user">
                            <div id="shopping_cart">
                                <a title="View my shopping cart" href="#"
                                   rel="nofollow">
                                    <i class="opancart icon-angle-down"></i>                 <span class="shopping_cart_title"><i class="icon-shopping-cart"></i>Cart</span>
                                    <span class="ajax_cart_quantity hidden">0</span>
                                    <!--span class="ajax_cart_product_txt hidden">Product</span>
                                    <span class="ajax_cart_product_txt_s hidden">Products</span-->
                                    <span class="ajax_cart_no_product">(empty)</span>
                                </a>
                            </div>
                        </section>
                        <div class="clearfix desktop" id="menu-wrap">
                            <div id="menu-trigger">
                                Categories<i class="menu-icon icon-plus-sign-alt"></i>
                            </div>
                            <ul id="menu-custom">
                                <li>
                                    <a href="#">Jerseys</a>
                                </li>
                                <li>
                                    <a href="#">Apparel</a>
                                    <ul>
                                        <li>
                                            <a>T-Shirts</a>
                                        </li>
                                        <li>
                                            <a>Scarfs</a>
                                        </li>
                                        <li>
                                            <a>Shorts</a>
                                        </li>
                                        <li>
                                            <a>Socks</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">For the PLAYER in U</a>
                                    <ul>
                                        <li>
                                            <a>Studs</a>
                                        </li>
                                        <li>
                                            <a>Wrist Bands</a>
                                        </li>
                                        <li>
                                            <a>Game CD (xbox/PS/PC)</a>
                                        </li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Everything Else</a>
                                    <ul>
                                        <li>
                                            <a>T-Shirts</a>
                                        </li>
                                        <li>
                                            <a>Scarfs</a>
                                        </li>
                                        <li>
                                            <a>Shorts</a>
                                        </li>
                                        <li>
                                            <a>Socks</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                        </div>
                        <script type="text/javascript">
                            var CUSTOMIZE_TEXTFIELD = 1;
                            var img_dir = 'http://footystreet.com/Content/themes/base/images/';
                        </script>
                        <script type="text/javascript">
                            var customizationIdMessage = 'Customization #';
                            var removingLinkText = 'Please remove this product from my cart.';
                            var freeShippingTranslation = 'Free shipping!';
                            var addedSuccessfully = 'Your product has been successfully added to your cart!';
                            var freeProductTranslation = 'Free!';
                            var delete_txt = 'Delete';
                            var ajaxcart_allowed = 1;
                        </script>
                        <!-- MODULE Block cart --> <section class="block column_box exclusive" id="cart_block">
                            <h4><span>Cart</span><i class="column_icon_toggle icon-plus-sign"></i></h4>
                            <div class="block_content toggle_content">
                                <!-- block summary -->
                                <div class="collapsed" id="cart_block_summary">
                                    <span class="ajax_cart_quantity  hidden">0</span>
                                    <span class="ajax_cart_product_txt_s  hidden">Products</span>		 <span class="ajax_cart_product_txt ">Product</span>
                                    <span class="ajax_cart_total  hidden"></span>		 <span class="ajax_cart_no_product ">(empty)</span>
                                </div><!-- block list of products -->
                                <div class="expanded" id="cart_block_list">
                                    <p class="cart_no_products" id="cart_block_no_products">No products</p>
                                    <table class="hidden" id="vouchers">
                                        <tbody></tbody>
                                    </table>
                                    <div class="cart-prices">
                                        <div class="cart-prices-block">
                                            <span class="price ajax_cart_shipping_cost" id="cart_block_shipping_cost">$0</span>
                                            <span>Shipping</span>
                                        </div>
                                        <div class="cart-prices-block">
                                            <span class="price ajax_block_cart_total" id="cart_block_total">$0</span>
                                            <span>Total</span>
                                        </div>
                                    </div>
                                    <p id="cart-buttons">
                                        <a title="View my shopping cart" class="button_mini" href="#"
                                           rel="nofollow">Cart</a>			<a title="Checkout" class="exclusive" id="button_order_cart"
                                                                                 href="#"
                                                                                 rel="nofollow">Checkout</a>
                                    </p>
                                </div>
                            </div>
                        </section> <!-- /MODULE Block cart -->

                        <div class="theme-default" id="minic_slider">
                            <div class="nivoSlider" id="slider" style="display: inline-block;">
                                <a href="#">
                                    <img class="slider_image" src="~/Images/Products/Brands/Puma.jpg" />
                                </a><a href="#">
                                    <img class="slider_image" src="~/Images/Products/Brands/Nike.jpg" />
                                </a><a href="#">
                                    <img class="slider_image" src="~/Images/Products/Brands/Adidas.jpg" />
                                </a>
                            </div>
                        </div>

                        <div id="htmlcontent_top">
                            <ul class="htmlcontent-home clearfix ">
                                <li class="htmlcontent-item ">
                                    <a class="item-link" href="http:///">
                                        <img class="item-img"
                                             alt="" src="~/Content/themes/base/images/frontpage_logo.jpg">

                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class=" clear-w"></div>
                        <div class=" clearfix" id="customcontent_top">
                            <ul>
                                <li class="item  first_item">
                                    <a href="#">
                                        <img alt="" style="width:250px;height:200px" src="~/Images/Products/GiftingIdeas/memorabilia_arsenal_tony_adams_signed_shirt.jpg">
                                        <h2>Memorabilia<span>Jersey signed by Tony Adams</span></h2>
                                        <span class="btn-content">details</span>
                                    </a>
                                </li>
                                <li class="item ">
                                    <a href="#">
                                        <img alt="" style="width:170px;height:170px" src="~/Images/Products/GiftingIdeas/poster_liverpool_mosaic.jpg">
                                        <h2>Anfield</h2>
                                    </a>
                                </li>
                                <li class="item ">
                                    <a href="#">
                                        <img alt="" style="width:170px;height:170px" src="~/Images/Products/GiftingIdeas/poster_manchester_united_oldtrafford.jpg">
                                        <h2>Old Trafford</h2>
                                    </a>
                                </li>
                                <li class="item  last_item">
                                    <a href="#">
                                        <img alt="" src="~/Images/Products/Apparel/jersey_barcelona_home_2013-14.jpg">
                                        <h2>Barcelona</h2>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <br />
                    </div>
                </header>
                <!--Header End-->
                <!--Body Container Begin-->
                @RenderBody()
                <!--Body Container End-->
                <!--Footer Begin-->
                <div class="footer-bg-mob">
                    <footer class="container ">
                        <div class="row modules">
                            <section class="block blocksocial span3">
                                <h4>Follow us<i class="icon-plus-sign"></i></h4>
                                <ul class="toggle_content">
                                    <li class="twitter"><a href="http://twitter.com/"></a></li>
                                    <li class="facebook"><a href="http://facebook.com/footystreet"></a></li>
                                    <li class="rss"><a href="http://facebook.com/"></a></li>
                                </ul>
                            </section><!-- MODULE Block footer -->
                            <section class="block blockcms_footer span3">
                                <h4 class="toggle">Information<i class="icon-plus-sign"></i></h4>
                                <ul class="list-footer toggle_content clearfix">
                                    <li class="first_item"><a title="Specials" href="#">Specials</a></li>
                                    <li class="item">
                                        <a title="Best sellers" href="#">
                                            Best
                                            sellers
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a title="Contact us" href="#">
                                            Contact
                                            us
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a title="Terms and conditions of use" href="#">
                                            Terms
                                            and conditions of use
                                        </a>
                                    </li>
                                    <li><a title="Sitemap" href="#">Sitemap</a></li>
                                </ul>
                            </section><section class="bottom_footer">
                                © 2014 Powered by <a href="http://www.footystreet.com/"
                                                     target="_blank">FootyStreet</a>™
                            </section>
                            <!-- /MODULE Block footer --> 
                            <!-- Block myaccount module -->
                            <section class="block blockmyaccountfooter span3">
                                <h4>My account<i class="icon-plus-sign"></i></h4>
                                <ul class="list-footer toggle_content clearfix">
                                    <li>
                                        <a title="My orders" href="#" rel="nofollow">My orders</a>
                                    </li>
                                    <li>
                                        <a title="My credit slips" href="#" rel="nofollow">My credit slips</a>
                                    </li>
                                    <li>
                                        <a title="My addresses" href="#" rel="nofollow">My addresses</a>
                                    </li>
                                    <li>
                                        <a title="Manage my personal information" href="#" rel="nofollow">My personal info</a>
                                    </li>
                                    <li class="favoriteproducts">
                                        <a title="My favorite products." href="#">
                                            My favorite products.
                                        </a>
                                    </li>
                                </ul>
                            </section><!-- /Block myaccount module --> <!-- MODULE Block contact infos -->
                            <section class="block blockcontactinfos span3">
                                <h4>Contact us<i class="icon-plus-sign"></i></h4>
                                <ul class="toggle_content">
                                    <li class="contact_desc">Mumbai, India</li>
                                    <li class="contact_phone">1(234) 567-9842</li>
                                    <li class="contact_mail"><i class="icon-envelope-alt"></i> <a href="mailto:footystreet@gmail.com">footystreet@gmail.com</a></li>
                                </ul>
                            </section>
                            <div id="htmlcontent_footer">
                                <ul class="htmlcontent-home clearfix row"></ul>
                            </div>
                        </div>
                    </footer>
                </div>
                <!--Footer End-->

            </div>
        </div>
    </div>


</body>
</html>
