<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-IndianFootyShop-20131101084439;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-IndianFootyShop-20131101084439.mdf" providerName="System.Data.SqlClient" />
    <add name="FSEntities" connectionString="metadata=res://*/FootyStreet.csdl|res://*/FootyStreet.ssdl|res://*/FootyStreet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USHYDVIRAJU9;initial catalog=FootyStreet;persist security info=True;user id=sa;password=deloitte@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Telerik.Web.Mvc" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IRepository" type="Framework.IRepository`1, Framework" />
    
    <alias alias="DefaultRepository" type="Framework.DefaultRepository`2, Framework" />
    <alias alias="FSEntities" type="FootyStreet.Data.FSEntities, FootyStreet.Data" />


    <alias alias="Category" type="FootyStreet.Data.Category, FootyStreet.Data" />
    <alias alias="CategorySubCategory" type="FootyStreet.Data.CategorySubCategory, FootyStreet.Data" />
    <alias alias="Color" type="FootyStreet.Data.Color, FootyStreet.Data" />
    <alias alias="Image" type="FootyStreet.Data.Image, FootyStreet.Data" />
    <alias alias="Invoice" type="FootyStreet.Data.Invoice, FootyStreet.Data" />
    <alias alias="Offer" type="FootyStreet.Data.Offer, FootyStreet.Data" />
    <alias alias="OrderHeader" type="FootyStreet.Data.OrderHeader, FootyStreet.Data" />
    <alias alias="Product" type="FootyStreet.Data.Product, FootyStreet.Data" />
    <alias alias="ProductCategorySubCategory" type="FootyStreet.Data.ProductCategorySubCategory, FootyStreet.Data" />
    <alias alias="ProductDetail" type="FootyStreet.Data.ProductDetail, FootyStreet.Data" />
    <alias alias="ProductImage" type="FootyStreet.Data.ProductImage, FootyStreet.Data" />
    <alias alias="ProductInventory" type="FootyStreet.Data.ProductInventory, FootyStreet.Data" />
    <alias alias="ProductOffer" type="FootyStreet.Data.ProductOffer, FootyStreet.Data" />
    <alias alias="ProductPrice" type="FootyStreet.Data.ProductPrice, FootyStreet.Data" />
    <alias alias="ProductReview" type="FootyStreet.Data.ProductReview, FootyStreet.Data" />
    <alias alias="ProductTag" type="FootyStreet.Data.ProductTag, FootyStreet.Data" />
    <alias alias="ProductUOMColor" type="FootyStreet.Data.ProductUOMColor, FootyStreet.Data" />
    <alias alias="Review" type="FootyStreet.Data.Review, FootyStreet.Data" />
    <alias alias="ShippingDetail" type="FootyStreet.Data.ShippingDetail, FootyStreet.Data" />
    <alias alias="SubCategory" type="FootyStreet.Data.SubCategory, FootyStreet.Data" />
    <alias alias="UnitofMeasure" type="FootyStreet.Data.UnitofMeasure, FootyStreet.Data" />
    <alias alias="Tag" type="FootyStreet.Data.Tag, FootyStreet.Data" />
    <alias alias="Vendor" type="FootyStreet.Data.Vendor, FootyStreet.Data" />
    <alias alias="Price" type="FootyStreet.Data.Price, FootyStreet.Data" />

    <container name="Repositories">
      <register type="IRepository[Tag]" mapTo="DefaultRepository[FSEntities, Tag]" />
      <register type="IRepository[Category]" mapTo="DefaultRepository[FSEntities, Category]" />
      <register type="IRepository[CategorySubCategory]" mapTo="DefaultRepository[FSEntities, CategorySubCategory]" />
      <register type="IRepository[Color]" mapTo="DefaultRepository[FSEntities, Color]" />
      <register type="IRepository[Image]" mapTo="DefaultRepository[FSEntities, Image]" />
      <register type="IRepository[Invoice]" mapTo="DefaultRepository[FSEntities, Invoice]" />
      <register type="IRepository[Offer]" mapTo="DefaultRepository[FSEntities, Offer]" />
      <register type="IRepository[OrderHeader]" mapTo="DefaultRepository[FSEntities, OrderHeader]" />
      <register type="IRepository[Product]" mapTo="DefaultRepository[FSEntities, Product]" />
      <register type="IRepository[ProductCategorySubCategory]" mapTo="DefaultRepository[FSEntities, ProductCategorySubCategory]" />
      <register type="IRepository[ProductDetail]" mapTo="DefaultRepository[FSEntities, ProductDetail]" />
      <register type="IRepository[ProductImage]" mapTo="DefaultRepository[FSEntities, ProductImage]" />
      <register type="IRepository[ProductInventory]" mapTo="DefaultRepository[FSEntities, ProductInventory]" />
      <register type="IRepository[ProductOffer]" mapTo="DefaultRepository[FSEntities, ProductOffer]" />
      <register type="IRepository[ProductPrice]" mapTo="DefaultRepository[FSEntities, ProductPrice]" />
      <register type="IRepository[ProductReview]" mapTo="DefaultRepository[FSEntities, ProductReview]" />
      <register type="IRepository[ProductTag]" mapTo="DefaultRepository[FSEntities, ProductTag]" />
      <register type="IRepository[ProductUOMColor]" mapTo="DefaultRepository[FSEntities, ProductUOMColor]" />
      <register type="IRepository[Review]" mapTo="DefaultRepository[FSEntities, Review]" />
      <register type="IRepository[ShippingDetail]" mapTo="DefaultRepository[FSEntities, ShippingDetail]" />
      <register type="IRepository[SubCategory]" mapTo="DefaultRepository[FSEntities, SubCategory]" />
      <register type="IRepository[UnitofMeasure]" mapTo="DefaultRepository[FSEntities, UnitofMeasure]" />
      <register type="IRepository[Vendor]" mapTo="DefaultRepository[FSEntities, Vendor]" />
      <register type="IRepository[Price]" mapTo="DefaultRepository[FSEntities, Price]" />


    </container>
    <container>
      <register type="IConnectionContext" mapTo="InterfaceConnectionContext" />
    </container>


    <container name="LogComponents">
     
    </container>
  </unity>
</configuration>